/* ATB Blue = #69a695 */
/* Grey Buttons/Hovers = #d9d9d9 */
/* Super light grey, almost white background paneling = #f6f6f6 */

/* Font Styling for entire website */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*navbar*/
navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #69a695;
    color: #fff;
}
.navbar-nav a {
    float: right;
}

background-image {
    opacity: 0.5;
}

url("static/images/WelcomePage_BackgroundPhoto.jpeg") {
opacity: 0.5;
}

body{
    font-family: 'Open Sans';
}

h1 {
    color: black;
}

/*use this to create a division that has centered text*/
.text-center{
    text-align: center;
}

/* button styling */
input{
    background-color: #69a695;
    border-width: 1px;
    border-color: #545454;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
}

.checkoutButtons{
    background-color: #69a695;
    font-family: 'Open Sans';
    color: white;
}

p {
    color: black;
}

/* Checkout Page Styling */

.checkoutPlaceholder {
    height: 210px;
    width: 1200px;
    background-color: #f6f6f6;
}

div.checkoutItemCoupon{
    display: block;
    padding: 20px;
}

div.coupon{
    display: inline-block;
}

.formInputFields {
    background-color: #f6f6f6;
    padding: 30px 25px 30px 25px;
}
h2.checkoutHeader {
    font-size: 33px;
    float: left;
}

.inputBoxTotal {
    padding: 20px;
}

.billingTotals {
    padding: 30px 25px 30px 25px;
}

.inputFields {
    height: 30px;
    background-color: #f6f6f6;
    width: auto;
}

p.formFieldLabels {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

p.cartTotalsLabels {
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

/*Styling order confirmation page*/
/*Centering text*/
.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}
/*center image*/
.centeri {
            display:block;
            margin-left: auto;
            margin-right: auto;

        }