/* ATB Blue = #69a695 */
/* Grey Buttons/Hovers = #d9d9d9 */
/* Super light grey, almost white background paneling = #f6f6f6 */

/* Font Styling for entire website */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/*navbar*/
navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #69a695;
    color: #fff;
}
.navbar-nav a {
    float: right;
}

background-image {
    opacity: 0.5;
}

url("static/images/WelcomePage_BackgroundPhoto.jpeg") {
opacity: 0.5;
}

body{
    font-family: 'Open Sauce SemiBold';
}

h1 {
    color: black;
    font-family: 'Open Sauce SemiBold';
    font-size: 80px;
}

/*use this to create a division that has centered text*/
.login-buttons{
    text-align: center;
}


.text-center{
    text-align: center;

}

/* button styling */
input{
    background-color: #69a695;
<<<<<<< HEAD
=======
    text-color: white;
>>>>>>> a0cf96c (This push includes numerous changes:)
    border-width: 1px;
    border-color: #545454;
    border-radius: 5px;
    padding: 7px;
    margin: 2px;
    color: white;
}

.checkoutButtons{
    background-color: #69a695;
    font-family: 'Open Sans';
    color: white;
}

p {
    color: black;
    font-family: 'Open Sauce SemiBold';
    font-size: 20px;

}

/* Checkout Page Styling */

.checkoutPlaceholder {
    height: 210px;
    width: 1200px;
    background-color: #f6f6f6;
}

div.checkoutItemCoupon{
    display: block;
    padding: 20px;
}

div.coupon{
    display: inline-block;
}

.formInputFields {
    background-color: #f6f6f6;
    padding: 30px 25px 30px 25px;
}
h2.checkoutHeader {
    font-size: 33px;
    float: left;
}

<<<<<<< HEAD
=======
.navbar {
    background-color: deepskyblue;
}

>>>>>>> a0cf96c (This push includes numerous changes:)
.inputBoxTotal {
    padding: 20px;
}

.billingTotals {
    padding: 30px 25px 30px 25px;
}

.inputFields {
    height: 30px;
    background-color: #f6f6f6;
    width: auto;
}

<<<<<<< HEAD
p.formFieldLabels {
=======
.formFieldLabels {
>>>>>>> a0cf96c (This push includes numerous changes:)
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

p.cartTotalsLabels {
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

/*Styling order confirmation page*/
/*Centering text*/
.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}
/*center image*/
.center-image {
            display:block;
            margin-left: auto;
            margin-right: auto;
        }

/*Filter shop button styling*/
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d9d9d9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

title {
    font-size: 30px;
}
