/* ATB Blue = #69a695 */
/* Grey Buttons/Hovers = #d9d9d9 */
/* Super light grey, almost white background paneling = #f6f6f6 */

/* Font Styling for entire website */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html body p {
    font-family: "Open Sans";
}

h1 {
    font-: 100px;
}
/*navbar*/
navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #69a695;
    color: #fff;
}
.navbar-nav a {
    float: right;
}

background-image {
    opacity: 0.5;
}

url("static/images/WelcomePage_BackgroundPhoto.jpeg") {
opacity: 0.5;
}

/*use this to create a division that has centered text*/
.login-buttons{
    text-align: center;
}


.text-center{
    text-align: center;

}
/*adjust nav bar for log-in page*/
.topnav-right {
  float: right;
}

/* button styling */
input{
    background-color: #69a695;
<<<<<<< HEAD
=======
    text-color: white;
>>>>>>> a0cf96c (This push includes numerous changes:)
    border-width: 1px;
    border-color: #545454;
    border-radius: 5px;
    padding: 7px;
    margin: 2px;
    color: white;
}

.checkoutButtons{
    background-color: #69a695;
    font-family: 'Open Sans';
    color: white;
}

p {
    color: black;
    font-family: 'Open Sauce SemiBold';
    font-size: 20px;

}

/* Checkout Page Styling */

.checkoutPlaceholder {
    height: 210px;
    width: 1200px;
    background-color: #f6f6f6;
    padding: 0px 0px 0px 0px;
}

div.checkoutItemCoupon{
    display: block;
    padding: 20px;
}

div.coupon{
    display: inline-block;
}

.formInputFields {
    background-color: #f6f6f6;
    padding: 30px 25px 30px 25px;
}
.checkoutHeader {
    font-size: 33px;
    float: left;
}

<<<<<<< HEAD
=======
.navbar {
    background-color: deepskyblue;
}

>>>>>>> a0cf96c (This push includes numerous changes:)
.inputBoxTotal {
    padding: 20px;
}

.billingTotals {
    padding: 30px 25px 30px 25px;
}

.inputFields {
    height: 30px;
    background-color: #f6f6f6;
    border-color: gray;
    width: auto;
}

.formFieldsLabels {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

p.cartTotalsLabels {
    font-size: 25px;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

hr {
    margin: 0px;
}

/*Styling order confirmation page*/
/*Centering text*/
.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}
/*center image*/
.center-image {
            display:block;
            margin-left: auto;
            margin-right: auto;
        }

title {
    font-size: 30px;
}


#menuBar {
    list-style: none;
    background: #69a695;
    width: 100%;
    margin: 0;
    padding: 13px;
    float:left;
    clear:both;
}

#menuBar li {
    float:left;
    position:relative;
}

#menuBar li a, #menuBar li a:visited {
    color: black;
    text-decoration: none;
    display: inline-block;
    background: #69a695;
    padding: 3px 7px 3px 7px;
}

#menuBar li a:hover {
    background: #d9d9d9;
}

#menuBar li ul {
    position: absolute;
    width:100px;
    background: #d9d9d9;
    top:30px;
    margin:0 0 0 -999em;
    padding:0;
    list-style:none;
}
#menuBar li:hover ul {
    margin:0;
    width: 100px;
    left:0;
}
#menuBar li li {
    width:100px;
    float:none;
}
#menuBar li:hover li a {
    display:block;
    position:relative;
}
#menuBar li li a:hover {
    background: #d9d9d9;
}