{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block page_content %}
<!-- Background Photo -->
      <div id="wrapper">
        <img src = "../../static/images/transparent-background.png" alt="Background Image" class="bg-image">
    <!-- Row -->
            <div class = "row">
                <div class = "left-column">
                    <div class = slogan>
                        <div class = row >
                            <!-- Error Header -->
                            <h1>500 Error</h1>
                            <!-- Error Message -->
                            <h5>
                                We apologize for the inconvenience,
                                but it seems that there's an internal server
                                error (500) that's preventing us from
                                processing your request.
                                Our technical team has been notified
                                of the issue and is working to resolve
                                it as quickly as possible.

                                In the meantime, we suggest trying
                                again later or checking your internet
                                connection to ensure that the problem
                                isn't on your end.
                                If the issue persists,
                                please don't hesitate to
                                contact our customer support
                                team for assistance.

                                We appreciate your patience and
                                understanding while we work to
                                get things back up and running smoothly.
                                Thank you for choosing our website,
                                and we hope to have the opportunity
                                to serve you better soon.
                            </h5>

                            <br>

                            <!-- 3 images below shop button -->
                            <div class="center-column float-left">
                                <div class="image-container">
                                    <img src="../../static/images/AboutPage_OurMission_GroupPic.JPG" alt="Group on Steps">
                                    <img src="../../static/images/AboutPage_JoellePersonalPic.png" alt="Joelle">
                                    <img src="../../static/images/Misc_ModelPic.png" alt="Group">
                                    <img src="../../static/images/AboutPage_OurMission_GroupPic.JPG" alt="Group on Steps">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
