<!-- Luke Bennett -->

{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block html_style %}
    p {
        text-align: left;
        padding: 0px 0px 0px 20px;
    }

    img [class="left"] {
        text-align: left;
      }

    h1 {
        padding: 0px 0px 0px 20px;
    }

{% endblock %}

{% block page_content %}

    <!-- About Section -->
    <main>


        <img src="../static/images/AboutPage_TopPhoto.png" width="400" height="400" alt="Co Founders Hugging" style="float: right; padding: 0px 10px 0px 10px">
        <h1> Around the Block </h1>
        <p>"Around the Block" is a unique apparel company co-founded
        by Gabi McLaughlin and Joelle Anselmo, two seniors at the University of Maryland.
        The concept for the company was sparked by our observation of
        the distinct and recognizable house names in College Park's Old Town neighborhood.
        We saw an opportunity to showcase the character and charm of the area through fashion and decided to bring their vision to life in October of 2022.</p>

        <p>Have an idea? Want to see something new?</p>


        <!-- Contact Us Button -->
        <form action="/ContactUs"style="padding: 0px 0px 0px 20px" method="get">
        <input type="submit" value="Contact Us">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <!-- Mission Section -->

        <img src="../static/images/AboutPage_OurMission_GroupPic.JPG" width="300" height="300" alt="Around the Block Group Shot" style="float: left">
             <h1> Our Mission </h1>
         <p>In addition to our environmentally conscious practices, we are dedicated to giving back to the community. Around the Block donates 10% of our profits to Sloan Kettering Cancer Research Foundation in New York City, making a positive impact in the fight against cancer.</p>
          <p>With each purchase from "Around the Block", customers can not only show their love for College Park, but also support cancer research efforts and contribute to a noble cause.</p>


<br>
<br>
<br>
<br>
    <!-- Meet The Team Section -->
    <div>
        <br>
        <br>
        <h1 style="text-align: center">Meet Our Team</h1>
        <img class="left" src="../static/images/AboutPage_GabiPersonalPic.png" width = "300px" height = "300px" alt="Gabi Solo Pic" style="float: left">
        <h2>Gabi</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.<br>
            Duis aute irure dolor in reprehenderit in voluptate velit a </p>


    </div>

    <br>

    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>Joelle</h2>
        <div style="float: right;">
        <img src=../static/images/AboutPage_JoellePersonalPic.png width = "300px" height = "300px" alt="Joelle Solo Pic" />
            </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.<br>
            Duis aute irure dolor in reprehenderit in voluptate velit a </p>
    </div>
</main>
{% endblock %}