<!-- Luke Bennett -->

{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_content %}

    <!-- About Section -->
    <main>
        <!-- Division Section -->
        <div class = "containerd2">
            <!-- Image -->
            <img src="../static/images/AboutPage_TopPhoto.png" width="300" height="300" alt="Co Founders Hugging" style="float: right; padding: 0px 0px 0px 10px">
             <!-- Main heading -->
                <h1><strong> Around the Block</strong></h1>
                    <!--Paragraph -->
                    <p>"Around the Block" is a unique apparel company co-founded
                    by Gabi McLaughlin and Joelle Anselmo, two seniors at the University of Maryland.
                    The concept for the company was sparked by our observation of
                    the distinct and recognizable house names in College Park's Old Town neighborhood.
                    We saw an opportunity to showcase the character and charm of the area through fashion and decided to bring their vision to life in October of 2022.</p>
                    <!--Paragraph -->
                    <p>Have an idea? Want to see something new?</p>

                    <!-- Contact Us Button -->
                        <form action="/RequestForm" style="padding: 0px 0px 0px 0px" method="get">
                            <input type="submit" value="Contact Us">
                        </form>
        </div>

         <!-- Mission Section -->
        <div class = "containere">
            <!-- Image -->
            <img src="../static/images/AboutPage_OurMission_GroupPic.JPG" width="350" height="350" alt="Around the Block Group Shot" style="float: left">
                <!-- Division Section -->
                <div class="border-box col">
                    <!-- Division Tag -->
                    <div class="row" style="padding-right: 20px; margin-right: 20px">
                        <div class = "GenProduct_VerticalSpacer">
                        <!-- Our Mission Heading -->
                        <h1 style="padding-left: 5px; width: auto;"><strong> Our Mission </strong></h1>
                            <!--Paragraph -->
                            <p> Instead of using new clothing items, we source our materials exclusively from local thrift stores,
                                making each piece of clothing sold truly one-of-a-kind. Our commitment to sustainability and reducing waste
                                is evident in the decision to use repurposed garments, ensuring that each item carries its own story and character.
                            </p>
                            <!--Paragraph -->
                            <p>In addition to our environmentally conscious practices, we are dedicated to giving back to the community.
                                Around the Block donates 10% of our profits to Sloan Kettering Cancer Research Foundation in New York City,
                                making a positive impact in the fight against cancer.
                            </p>
                            <!--Paragraph -->
                            <p>With each purchase from "Around the Block", customers can not only show their love for College Park,
                                but also support cancer research efforts and contribute to a noble cause.
                            </p>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Meet The Team Section -->

        <!-- Division Section -->
         <div class = "containerd2">
                    <!-- Division Section -->
                    <div class = "row">
                        <!-- Division Section -->
                        <div class = "text-center">
                            <!-- Meet Our Team Heading -->
                            <h1><strong>Meet Our Team</strong></h1>
                        <div>
                    </div>
                    <!-- Division Section -->
                    <div class="GenProduct_HeadingSpacer"></div>
                        <!-- Division Section -->
                        <div class="border-box col">
                            <!-- Division  -->
                            <div class="GenProduct_rowLayout">
                               <div class = "GenProduct_columnLayout">
                                   <!-- Division Section for Gabi -->
                                   <div class= "my-div"> Gabi McLaughlin </div>
                                   <!-- Division Section for Gabi's Paragraphs -->
                                    <div>
                                        <!--Paragraph -->
                                        <p> Gabi is a senior at the University of Maryland double majoring in finance and business management.
                                            She's passionate about bringing teams together to innovate. She continues to explore finance,
                                            entrepreneurship, and business management in and outside the classroom.
                                        </p>
                                        <p>
                                            <!--Paragraph -->
                                            She's also  been a part of the Business, Society, and Economy Scholars program at UMD.
                                            Here she focused on active learning and collaboration, and through group projects in Scholars, she has learned the value of bringing together
                                            diverse groups of people to problem-solve. Gabi also held the position of CFO at Kappa Alpha Theta,
                                            and acted as a mentor for College Mentors for Success. Additionally, she was involved in Smith Undergraduate Student Association,
                                            where she helped plan a leadership conference for Smith, as well as a virtual trip to New York companies for undergraduate students.
                                        </p>
                                    </div>
                               </div>
                                <!-- Division Section -->
                                <div class = "GenProduct_columnLayout">
                                    <!-- Division Section -->
                                     <div class = "GenProduct_VerticalSpacer">
                                    <!-- Gabi's Image -->
                                    <img class="left" src="static/images/Gabi Headshot.jpg" width="300" height="300" alt="Gabi Solo Pic" style="float: left; margin-left: 20px;">
                                </div>
                                </div>
                            </div>
                        </div>

        <!-- Space between subsections -->
        <div class="GenProduct_HeadingSpacer"></div>

         <!-- Space between subsections -->
        <div class="GenProduct_HeadingSpacer"></div>

        <!-- Joelle's subsection -->
         <div class="GenProduct_HeadingSpacer"></div>
                <!-- Division Section -->
                <div class="border-box col">
                    <!-- Division Section -->
                    <div class="GenProduct_rowLayout">
                        <!-- Division Section -->
                       <div class = "GenProduct_columnLayout">
                           <!-- Joelle's Image -->
                          <img src="static/images/Joelle Headshot.jpg" width="300" height="300" alt="Joelle Solo Pic" style="float: right; padding: 10px 10px 30px 10px">
                       </div>
                        <!-- Division Section -->
                        <div class = "GenProduct_columnLayout">
                            <!-- Division Section -->
                             <div class = "GenProduct_VerticalSpacer">
                                 <!--Div Section for Joelle-->
                                 <div class= "my-div"> Joelle Anselmo </div>
                            <!-- Division Section -->
                            <div>
                                <!--Paragraph -->
                                <p> Joelle is a senior at the University of Maryland double majoring in journalism
                                    and business management. She's fascinated by human centered and big authority
                                    stories and is devoted to learning about making sustainable choices, especially in
                                    retail. When she's not writing articles in the middle of the night or conducting
                                    interview, she loves reading books, journaling, daydreaming about traveling and
                                    living abroad, running and hanging out with friends and family.
                                </p>
                                <!--Paragraph -->
                                <p>
                                    During the school year, Joelle took thought-provoking, multimedia journalism
                                    classes that fine-tune her technology skills with software such as Premiere Pro, InDesign, Adobe Photoshop, and more.
                                    Her interest in journalism has encouraged her to become more involved with the surrounding community,
                                    where she has served as the President of the UMD Chapter of the Society of Professional Journal lists in her last year of college.
                                </p>
                            </div>
                             </div>
                        </div>
                    </div>
                </div>
 </div>
            </div>
 </div>

     <!-- Why ATB -->
        <!-- Division Section -->
        <div class = "containere">
           <!-- Division Section -->
           <div class="border-box col">
               <!-- Division Section -->
                <div class="border-box col">
                   <!-- Division Section -->
                    <div class="GenProduct_rowLayout">
                       <!-- Division Section -->
                       <div class = "GenProduct_columnLayout">
                           <!-- Division Section -->
                            <div class = "h2.left">
                                <h1><strong>Why ATB</strong></h1>
                            </div>
                           <!-- Division Section -->
                            <div>
                                <!--Paragraph -->
                               <p> Instead of using new clothing items, we source our materials exclusively from local thrift stores,
                                making each piece of clothing sold truly one-of-a-kind. Our commitment to sustainability and reducing waste
                                is evident in the decision to use repurposed garments, ensuring that each item carries its own story and character.
                            </p>
                                <!--Paragraph -->
                            <p>In addition to our environmentally conscious practices, we are dedicated to giving back to the community.
                                Around the Block donates 10% of our profits to Sloan Kettering Cancer Research Foundation in New York City,
                                making a positive impact in the fight against cancer.
                            </p>
                                <!--Paragraph -->
                            <p>With each purchase from "Around the Block", customers can not only show their love for College Park,
                                but also support cancer research efforts and contribute to a noble cause.
                            </div>
                       </div>
                        <!-- Division Section -->
                        <div class = "GenProduct_columnLayout">
                            <!-- Division Section -->
                           <div class = "GenProduct_VerticalSpacer">
                           <!-- Image -->
                           <img src="static/images/HomePage_FourthSmallPic.jpg" width="500" height="500" alt="Around the Block Group Shot" style="float: right">
                        </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
</main>
{% endblock %}
