<!-- Extending base code to use Jinja principles -->
{% extends "base.html" %}

{% block title %}Check Out{% endblock %}

{% block page_content %}


{% if cart_count > 0 %}
    <h2 class="mb-3">Your Cart</h2>
    <div class="cart-container">
        {% set ns = namespace(item = 0) %}
        {% for product in products %}
            {% if product['product_quantity'] > 0 %}
                <div class="cart-item">
                    <div class="cart-image-container">
                        <img class="cart-image" src="{{ url_for('static', filename='/products/' + product['product_image']) }}" alt="Picture of {{ product['item_name'] }}">
                    </div>
                    <div class="cart-details-container">
                        <div class="cart-details-name">{{ product['item_name'] }}</div>
                        <div class="cart-details-quantity">Quantity: {{ product['product_quantity'] }}</div>
                        <div class="cart-details-size">Size: {{ product['size'] }}</div>
                        <div class="cart-details-price">Price: ${{ "{:,.2f}".format(product['price']) }}</div>
                        <div class="cart-details-total">Total: ${{ "{:,.2f}".format(product['price']*product['product_quantity']) }}</div>
                        <div class="cart-details-remove"><a href="{{ url_for('cart_remove', index=ns.item) }}">Remove</a></div>
                    </div>
                </div>
                {% set ns.item = ns.item + 1 %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <div class="empty-cart">Your cart is currently empty. <a href="{{ url_for('Shop') }}">Continue shopping</a> to add items to your cart.</div>
{% endif %}


<form action="/payment" method="get">
       <!-- Creates Shipping Information form -->
        <div class="inputBoxTotal" style="padding-left: 24px">
            <div class="row">
                <div class="border-box col-7">
                    <!--  Heading for the entire form -->
                    <h2 class="checkoutHeader"><strong>Shipping Information</strong></h2><br><br>
                    <div class="formInputFields">
                        <div class = "row">
                            <div class="border-box col">
                                <div class="row" style="padding-right: 15px">
                                    <!--Field to collect users first name -->
                                    <p class="formFieldsLabels">First Name (*) <br></p>
                                    <input type="text" class="inputFields" name="first_name" required>
                                </div>
                            </div>
                            <div class="border-box col">
                                <div class="row" style="padding-left: 15px">
                                    <!--Field to collect users last name -->
                                    <p class="formFieldsLabels">Last Name (*) <br></p>
                                    <input type="text" class="inputFields" name="last_name" required><br><br>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <!--Field to collect users email -->
                            <p class="formFieldsLabels">Email (*)</p>
                            <input type="email" class="inputFields" name="email" required><br><br>
                        </div>
                        <div class = "row">
                            <!--Field to collect users address 2 -->
                            <p class="formFieldsLabels">Phone Number (*)</p>
                            <input type="integer" class="inputFields" name="phoneNumber"><br><br>
                        </div>
                        <div class = "row">
                            <!--Field to collect users address 1 -->
                            <p class="formFieldsLabels">Address (*)</p>
                            <input type="text" class="inputFields" name="address" required><br><br>
                        </div>
                        <div class = "row">
                            <!--Field to collect users city -->
                            <p class="formFieldsLabels">City (*)</p>
                            <input type="text" class="inputFields" name="city" required><br><br>
                        </div>
                        <div class = "row">
                            <!--Field to collect users state -->
                            <p class="formFieldsLabels">State (*)</p>
                            <input type="text" class="inputFields" name="state" required><br><br>
                        </div>
                        <div class = "row">
                            <!--Field to collect users zip code -->
                            <p class="formFieldsLabels">Zip Code (*)</p>
                            <input type="text" class="inputFields" name="zipcode" required><br><br>
                        </div>
                    </div>
                </div>

                <!-- Creates cart pricing information form -->
                <div class="border-box col-5">
                    <!-- Heading for entire form -->
                    <h2 class="checkoutHeader"><strong>Cart Totals</strong></h2><br><br>
                        <div class="billingTotals">
                            <!-- Creates fields within form to display total amount -->
                            <div class="row">
                                    <div class="border-box col" style="padding: 0px">
                                        <p class="cartTotalsLabels">Subtotal - </p>
                                    </div>
                                    <div class="border-box col" style="padding: 0px">
                                    <p class="carttotalsdata"> {{ "${:,.2f}".format(cart_total) }}</p>
                                    </div>
                            </div><hr>
                            <div class="row">
                                <div class="border-box col-3" style="padding: 0px">
                                    <p class="cartTotalsLabels">Shipping - </p>
                                </div>
                                <div class="border-box col-9" style="padding: 0px">
                                <div class="form-select-container">
                                <select name="role" id="role" class="form-select" aria-label=".form-select-md example">
                                    <option value="0">---Select Shipping---</option>
                                    <option name="local" id="local" value="0">Local Pick Up - FREE</option>
                                    <option name="home" id="home" value="10">Home Delivery - $10.00</option>
                                    <option name="rapid" id="rapid" value="20">Rapid Delivery - $20.00</option>
                                </select>
                            </div>
                                </div>

                            </div><hr>
                            <!-- Creates additional fields within form to display total amount -->
                            <div class="row">
                                    <div class="border-box col" style="padding: 0px">
                                        <p class="cartTotalsLabels">Total - </p>
                                    </div>
                                    <div class="border-box col" style="padding: 0px">
                                    <p class="carttotalsdata"> {{ "${:,.2f}".format(cart_total) }}</p>
                                    </div>
                            </div>
                            <div class="row" style="justify-content: center">
  <!--Field to submit the users answers inputted into the form -->
                                <input type="submit" value="Place Order" class="checkoutButtons" style="float: right; margin: 20px; padding: 7px 75px 7px 75px;" formaction="/payment">
                            </div>
                        </div>
                </div>
            </div>
        </div>

        </form>
{% endblock %}