<!-- Joe Scopelliti -->

{% extends "base.html" %}

{% block title %}Check Out{% endblock %}

{% block page_content %}

        {% if form_submitted %}
            <div class="row">
                <div class="checkoutHeader" style="padding: 20px">
                    <h2>Thank you for your order!</h2><br>
                </div>
            </div>
            <div class="row">
                <div class="postFormLabels">
                    <p>Products Ordered:</p>
                </div>
            <div class="postFormLabels">
                    <p>{{ request.form.get(products)}}</p>
            </div>
            </div>
            <div class="row">
                <div class="postFormLabels">
                    <p>First Name:</p>
                </div>
                <div class="postFormLabels">
                    <p>{{ request.form.get('first_name')}}</p>
                </div>
            </div>
            <div class="row">
                <div class="postFormLabels">
                    <p>Last Name:</p>
                </div>
                <div class="postFormLabels">
                    <p>{{ request.form.get('last_name')}}</p>
                </div>
            </div>
            <div class="row">
               <div class="postFormLabels">
                    <p>Address 1:</p>
                </div>
                <div class="postFormLabels">
                    <p>{{ request.form.get('address1')}}</p>
                </div>
            </div>
            <div class="row">
                <div class="postFormLabels">
                    <p>Address 2:</p>
                </div>
                <div class="postFormLabels">
                    <p>{{ request.form.get('address2')}}</p>
                </div>
            </div>
            <div class="row">
                <div class="postFormLabels">
                    <p>City:</p>
                </div>
                <div class="postFormLabels">
                    <p>{{ request.form.get('city')}}</p>
                </div>
            </div>
            <div class="row">
                <div class="postFormLabels">
                    <p>State:</p>
                </div>
                <div class="postFormLabels">
                    <p>{{ request.form.get('state')}}</p>
                </div>
            </div>
            <div class="row">
                <div class="postFormLabels">
                    <p>Zip code:</p>
                </div>
                <div class="postFormLabels">
                    <p>{{ request.form.get('zipcode')}}</p>
                </div>
            </div>
            {% else %}
        <!-- Coupon Code Box & Cart Information -->
        <form action="{{ url_for('CheckOut') }}" method="post">
        <div class="checkoutItemCoupon" style="padding-left: 24px">
            <div class="row" style="padding-top: 25px;">
                <h1 class="checkoutHeader"><strong>Checkout</strong></h1>
            </div>
            <div class="cartPlaceholder" style="position: relative; height: auto; min-height: 100%; padding-bottom: 7px;">
                <div class=”cartHeader”>
                    <h3 class=”Head” style="padding: 5px 5px 0px 5px; margin: 0px;" >Items</h3>
                    <div class="cart-item">
                        <h5 class="item-info">Type</h5>
                        <h5 class="item-info">Quantity</h5>
                        <h5 class="item-info">Size</h5>
                        <h5 class="item-info">Price</h5>
                    </div>
                    <!-- % for item in cart %} -->
                        <div class="cart-item">
                            <div class="cart-item-image">
                                <img src="static/images/Shop_ClothingItem1.png" alt="item" width="100" height="100" style="margin-bottom: 7px" >
                            </div>
                            <div class="cart-item-details">
                                <div class="cart-item-title">
                                    <p class="cartItemLabels">Crewneck</p> <!--{ item.title }}-->
                                </div>
                            </div>
                                <div class=”cart-counter”>
                                    <input class="item-info" type=number min=1 max=5 value="1"> <!--{ item.quantity }}-->
                                </div>
                                <div class="cart-item-size">
                                    <p class="cartItemLabels">M</p> <!--{ item.size }}-->
                                </div>
                                <div class="cart-item-price">
                                    <p class="cartItemLabels">$42.00 USD</p>> <!--{ item.price }}-->
                                    <div class="remove">Remove</div>
                                </div>
                            </div>

                    <!-- % endfor %} -->
                </div>
            </div>
        </div>

       <!-- Shipping Information Fields -->
        <div class="inputBoxTotal" style="padding-left: 24px">
            <div class="row">
                <div class="border-box col">
                    <h2 class="checkoutHeader"><strong>Shipping Address</strong></h2><br><br>
                    <div class="formInputFields">
                        <div class = "row">
                            <div class="border-box col">
                                <div class="row" style="padding-right: 15px">
                                    <p class="formFieldsLabels">First Name (*) <br></p>
                                    <input type="text" class="inputFields" name="first_name" required>
                                </div>
                            </div>
                            <div class="border-box col">
                                <div class="row" style="padding-left: 15px">
                                    <p class="formFieldsLabels">Last Name (*) <br></p>
                                    <input type="text" class="inputFields" name="last_name" required><br><br>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <p class="formFieldsLabels">Address 1 (*)</p>
                            <input type="text" class="inputFields" name="address1" required><br><br>
                        </div>
                        <div class = "row">
                            <p class="formFieldsLabels">Address 2</p>
                            <input type="text" class="inputFields" name="address2"><br><br>
                        </div>
                        <div class = "row">
                            <p class="formFieldsLabels">City (*)</p>
                            <input type="text" class="inputFields" name="city" required><br><br>
                        </div>
                        <div class = "row">
                            <p class="formFieldsLabels">State (*)</p>
                            <input type="text" class="inputFields" name="state" required><br><br>
                        </div>
                        <div class = "row">
                            <p class="formFieldsLabels">Zip Code (*)</p>
                            <input type="text" class="inputFields" name="zipcode" required><br><br>
                        </div>
                    </div>
                </div>

                <!-- Cart Pricing Information -->
                <div class="border-box col">
                    <h2 class="checkoutHeader"><strong>Cart Totals</strong></h2><br><br>
                        <div class="billingTotals">
                            <div class="row">
                                <p class="cartTotalsLabels">Subtotal -</p><hr>
                            </div>
                            <div class="row">
                                <div class="border-box col" style="padding: 0px">
                                    <p class="cartTotalsLabels">Shipping -</p>
                                </div>
                                <div class="border-box col" style="padding: 0px 0px 10px 0px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Local Pick Up:
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Home Delivery
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Rapid Delivery
                                        </label>
                                    </div>
                                </div><hr>
                            </div>
                            <div class="row">
                                <p class="cartTotalsLabels">Taxes -</p><hr>
                            </div>
                            <div class="row">
                                <p class="cartTotalsLabels"><strong>Total -</strong></p>
                                <div class="row">
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" value="Place Order" class="checkoutButtons" style="float: right; margin: 20px; padding: 7px 75px 7px 75px;">
                            </div>
                        </div>
                </div>
            </div>
        </div>

        </form>
        {% endif %}
{% endblock %}