{% extends "base.html" %}


{% block page_title %}
   <!-- Add space between header and title -->
    <div class="GenProduct_HeadingSpacer"></div>

    Collections Log
{% endblock %}


{% block html_head %}
   Collections Log
{% endblock %}


{% block page_content %}

<div class="text-center" style="height: 100vh">
   <!-- Creation of Collections table -->
    <div class="row">
    <div class="col">

   <table class="table table-striped">
       <tr>
            <th scope="col">Collection ID</th>
            <th scope="col">Collection Name</th>
           {% if current_user.role in ['ADMIN', 'EMPLOYEE'] %}
           <th>Actions</th>
           {% endif %}
       </tr>

       {% for each_collection in collection %}
       <tr>
           <td>{{ each_collection['collection_id'] }}</td>
           <td>{{ each_collection['collection_name'] }}</td>
           {% if current_user.role in ['ADMIN', 'EMPLOYEE'] %}
           <td>
               <a href="{{ url_for('collection_edit', collection_id=each_collection['collection_id']) }}" class="btn btn-secondary" type = "submit" role="button">Edit</a>
               {% if current_user.role in ['ADMIN'] %}
               <a href="{{ url_for('collection_delete', collection_id=each_collection['collection_id']) }}" class="btn btn-secondary" type = "submit" role="button">Delete</a>
               {% endif %}
           </td>
           {% endif %}
       </tr>
       {% endfor %}
   </table>
   </div>
   </div>

   {% if current_user.role in ['ADMIN', 'EMPLOYEE'] %}
   <div class="row">
       <div class="col">
               Total Number of Collections: {{ collection|length }}
       </div>
   </div>

    <p><br></p>
   <div class="row">
       <div class="col text-center">
           <a href="{{ url_for('collections_entry') }}" class="btn btn-primary" role="button">Add New Collection</a>
       </div>
   </div>
       </div>
   {% endif %}

{% endblock %}