{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block page_content %}

<!--Generic Message Form Fields-->
    <div class="inputBoxTotal">
        <div class="row">
            <h1>Contact Us</h1>
            <h3>Welcome! We're happy to help.</h3>
        </div>
        <div class="row">
            <div class="border-box col-4">
                <!-- Heading for entire page & supporting image-->
                <img src="../static/images/Contact%20Us%20Page%20Piic.png" width = "400" height = "420" alt="ATB Model Skateboarding" style = "padding-left: 20px">
            </div>
            <div class="border-box col-8">
                <form class="formInputFields">
                    <div class = "row">
                        <div class="border-box col">
                            <div class="row" style="padding-right: 15px">
                                <p class="formFieldsLabels"> First Name <br></p>
                                 <input type = "text" class="inputFields" required>
                            </div>
                        </div>
                        <div class="border-box col">
                            <div class="row" style="padding-left: 15px">
                                <p class="formFieldsLabels">Last Name <br></p>
                                <input type = "text" class="inputFields" required>
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <p class="formFieldsLabels">Email</p>
                        <input type = "email" class="inputFields" required>
                    </div>
                    <div class = "row">
                        <p class="formFieldsLabels">Phone Number</p>
                        <input type = "tel" class="inputFields" pattern = "[0-9]{3}-[0-9]{3}-[0-9]{3}" required>
                    </div>
                    <div class = "row">
                        <p class="formFieldsLabels">Message</p>
                         <textarea class="inputFields" id="message" rows="5" cols="50" required></textarea>
                    </div>
                    <div class = "row">
                        <p class="formFieldsLabels"></p>
                        <input type = "submit" class="input">
                    </div>
                </form>
            </div>
        </div>
    </div>

  <!--Customer Review Section-->
   <div class="customerReviewSection" style = "padding-top: 20px">
        <div class="row">
            <h2 class="reviewHeader" style="padding-top: 50px; padding-left: 30px;"><strong>Customer Reviews</strong></h2>
        </div>
       <div class="row">
           <div class="container text-center">
               <div class="row row-cols-2">
                    <div class="rectangle">
                         <img src= "../static/images/ContactUsPage_CustomerProfilePic.png" width = "80" height = "80" alt="ProfilePhoto" style="padding-right: 20px">
                         <h3>Esha Raman</h3>
                         <h4>Student</h4>
                         <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."</p>
                         <h4>8:35 PM-Jan 6, 2022</h4>
                    </div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
               </div>
           </div>
       </div>
   </div>

<!--Review Message Fields-->
    <div class="inputBoxTotal">
        <div class="row">
            <div class="border-box col">
                 <h2 class="reviewHeader" style="padding-top:50px"><strong>Leave a Review</strong></h2>
                <form class="formInputFieldsNoBackground">
                    <div class = "row">
                        <div class="border-box col">
                            <div class="row" style="padding-right: 20px">
                                <p class="formFieldsLabels">First Name <br></p>
                                 <input type = "text" class="inputFields" required>
                            </div>
                        </div>
                    </div>
                        <div class="border-box col">
                            <div class="row" style="padding-right: 20px">
                                <p class="formFieldsLabels">Last Name <br></p>
                                <input type = "text" class="inputFields" required>
                            </div>
                        </div>
                    <div class = "row" style="padding-right: 20px">
                        <p class="formFieldsLabels">Email</p>
                        <input type = "email" class="inputFields" required>
                    </div>
                    <div class = "row" style="padding-right: 20px">
                        <p class="formFieldsLabels">Type of Customer</p>
                        <input type= "text" class="inputFields" required>
                    </div>
                    <div class = "row" style="padding-right: 20px">
                        <p class="formFieldsLabels">Leave Review</p>
                         <input type= "text" class="inputFields" required>
                    </div>
                    <div class = "row" style="padding-right: 20px">
                        <p class="formFieldsLabels"></p><br>
                        <input type = "submit" class="input">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}