{% extends "base.html" %}

{% block title %}Generic Product{% endblock %}

{% block page_content %}

 <div class="GenProduct_rowLayout">
  <div class="GenProduct_columnLayout">
      <img src= static/images/Shop_ClothingItem1.png width = "600" height = "600" alt="ATB Model Skateboarding">
  </div>
  <div class="GenProduct_columnLayout">
  <div class = "GenProduct_VerticalSpacer">
      <h1>Crewneck</h1>
      <h3>$43 USD</h3>
      <div class="GenProduct_spacer">
        <h4>Select a Size</h4>
          <button class="input">X-Small</button>
          <button class="input">Small</button>
          <button class="input">Medium</button>
          <button class="input">Large</button>
          <button class="input">XL</button>
          <button class="input">XXL</button>
          <button class="input">XXXL</button>
      </div>
      <div class="GenProduct_spacer">
        <h4>Select a Style</h4>
          <button class="input">Game Day Map</button>
          <button class="input">CP Blues Map</button>
          <button class="input">Spring Pinks Map</button>
      </div>
      <div class="GenProduct_spacer">
        <h4>Quantity</h4>
          <input type="button" class="btneg " value="-">
          <input type="text" name="noq1" id="noq1" min="1" max="15" value="1">
          <input type="button" class="btpos " value="+">
      </div>
      <div class="GenProduct_spacer">
        <button class="input">Add to Cart</button>
      </div>
  </div>
</div>

{% endblock %}

