{% extends "base.html" %}

{% block title %}Generic Product{% endblock %}

{% block html_style %}
    h1 {
        font-weight: 700;
        color: #000000;
        text-align: right;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h3 {
    text-align: right;

    }


{% endblock %}

{% block page_content %}

<div class="row">
            <div class="border-box col-4">
                <!-- Heading for entire page & supporting image-->
                <img src="/static/images/Shop_ClothingItem1.png" width = "600" height = "600" alt="ATB Model Skateboarding" style = "padding-left: 20px">
            </div>
            <div class="border-box col-8">
                    <div class = "row">
                        <div class="border-box col">
                            <div class="row" style="padding-right: 50px">
                                <h1> Long Sleeve CP Blues Shirt <br></h1>
                                <h3>$36 USD</h3>
                                <h3>Color</h3>
                                <form action="/cart" method="post" style="text-align: right">
                                <input type="submit" value="Add to Cart"/>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>





{% endblock %}