<!-- Extending base code to use Jinja principles -->
{% extends "base.html" %}

{% block page_title %}
    {{ product['item_name']}}
{% endblock %}

{% block page_head %}
    View Product
{% endblock %}

{% block page_content %}
    <div class="row">
    {% for item  in items %}
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url_for('Shop') }}">Shop</a>  &gt;
                </li>
                <li class="active">View Product</li>
            </ol>
        </div>
    </div>
<!-- inserting picture for product -->
    <div class="row pad">
	<div class="col-lg-5">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="thumbnail">
            {% if product['product_image'] %}
				<img src="{{ url_for('static', filename='/products/' + product['image']) }}" alt="Picture of {{ item['item_name'] }}">
			{% endif %}
            </div>
		</div>
	</div>
<!-- details about product displayed -->
	<div class="col-lg-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Product Details</h3>
			</div>
			<div class="panel-body">
				<h3>{{ item['item_name'] }}</h3>
				<h4>{{ "$%.2f"|format(product['price']) }}</h4>
				<hr />
				{{ item['desc'] }}
				<hr />
<!-- add_to_cart -->
				<form action="{{ url_for('cart_add', product_id=product['product_id']) }}" method="POST">
				<div class="GenProduct_spacer">
<!-- size and quantity buttons and dropdowns-->
                    <h4>Select a Size</h4>
                    <input type="radio" name="Button" class="ButtonState" checked id="XS" value="1">
                    <button class="input">X-Small</button>
                    <button class="input">Small</button>
                    <button class="input">Medium</button>
                    <button class="input">Large</button>
                    <button class="input">XL</button>
                    <button class="input">XXL</button>
                    <button class="input">XXXL</button>
                </div>

                <div class="row">
					<div class="col-lg-4">
						<div class="row g-2">
							<div class="col-lg-12">
								<label for="product_quantity" class="form-label"><strong>Quantity</strong></label>
							</div>
							<div class="col-lg-12">
                                <input class="col-xs-2" type="number" step="1" min="1" max="99" class="form-control" id="product_quantity"
                                       name="product_quantity" value="1" required>
    						</div>
							<div class="col-lg-12">
                                <button type="submit" class="btn btn-primary">Add To Cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}