{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block page_content %}

<!-- Background Photo -->
        <img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

<!-- Text on Screen -->
    <div class = homeTitle style="padding-top: 25px;">
        <h1> AROUND THE BLOCK.CO </h1>
    </div>
    <div class = "row">
        <div class = "left-column">
            <div class = slogan>
                <div class = "row">
                    <h2>Join the<br>Block Party</h2>
                    <h6>Shop apparel inspired by the distinct and <br> recognizable houses within Old Town, College Park <br> Maryland</h6>
                </div>
                <div class = "row">
                    <form action="/Shop" method="get" >
                        <input class="home" type="submit" value="START SHOPPING">
                    </form>
                </div>
            </div>
           <div class="image-container">
                    <img src="../static/images/Contact Us Page Piic.png" alt="Skateboard on Street" >
                    <img src="../static/images/Misc_ModelPic.png" alt="Group">
                    <img src="../static/images/AboutPage_JoellePersonalPic.png" alt="Joelle">
                   <!--<img src="../static/images/AboutPage_OurMission_GroupPic.JPG" alt="Group on Steps">-->
           </div>
        </div>
        <div class = "right-column">
            <div class = "map">
                <img src="../static/images/Misc_OldTownMap-Logo.png" alt="Old Town Map" class="small-image" >
            </div>
        </div>
    </div>


{% endblock %}
