{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block page_content %}
        <img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

<!-- Text on Screen -->
    <main>
        <div class="container">
            <h1> AROUND THE BLOCK.CO</h1>
        </div>
        <div class="container">
            <h2>Join the<br>Block Party</h2>
            <h6>Shop apparel inspired by the distinct and <br> recognizable houses within Old Town, College Park <br> Maryland</h6>
        </div>
        <form action="Shop.html" method="post" style="margin-left: 110px;">
            <input type="submit" value="START SHOPPING">
        </form>
    <!-- Static image on screen-->
        <img src="../static/images/Misc_OldTownMap-Logo.png" alt="Old Town Map" class="map">
</main>
{% endblock %}
