{% extends "base.html" %}

{% block title %}
   {% if action and action == 'create' %}
       Input New Collection
   {% elif action and action == 'update'  %}
       Update Collection Name
   {% else %}
       View Collections
   {% endif %}
{% endblock %}

{% block html_head %}
   {% if action and action == 'create' %}
       Input New Collection
   {% elif action and action == 'update'  %}
       Update Collection Name
   {% else %}
       View Collections
   {% endif %}
{% endblock %}

{% block page_content %}
    <!-- Background Photo -->
 <img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">
        <form action="{{ url_for('collections_entry') }}" method="POST">
        <!-- Inventory Input -->
        <div class="inventoryBoxTotal">
            <div class="row">
                <div class = "d-flex justify-content-center">
                    <div class = "border-box col">
                        <div class = row>
                            <div class="formInputFields" style="width: 700px">
                                <div class = "border-box-col">
                                    <div class="row">
                                        <div class="row">
                                        <!-- Collection Name Input -->
                                            {% if action and action in ['create'] %}
                                            <label for="collection_name" class="form-label"><strong>Collection Name</strong></label>
                                            <input type="text" class="inputFields" id="collection_name" name="collection_name" value="{{ collection['collection_name'] if collection else '' }}" required>
                                            {% endif %}
                                          </div>

                                <!-- Inventory Name Read/Update -->
                                        {% if action and action in ['read', 'update'] %}
                                        <div class="row">
                                        {% if action and action == 'update' %}
                                        <label for="collection_name" class="form-label"><strong>Collection Name</strong></label>
                                        <input type="text" class="inputFields" id="collection_name" name="collection_name"
                                               value="{{ collection['collection_name'] if collection else '' }}" required>
                                        {% else %}
                                            <strong>Collection Name</strong>
                                            <br> {{ collection['collection_name'] }}
                                        {% endif %}
                                        {% endif %}
                                        </div>
                                    <div class="row">
                                      <input type="submit" value="Submit Collection" class="inventoryButtons" method="POST">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </form>
{% endblock %}