{% extends "base.html" %}

{% block title %}
   {% if action and action == 'create' %}
       Input New Inventory
   {% elif action and action == 'update'  %}
       Update Inventory Item
   {% else %}
       View Inventory
   {% endif %}
{% endblock %}

{% block html_head %}
   {% if action and action == 'create' %}
       Input New Inventory
   {% elif action and action == 'update'  %}
       Update Inventory Item
   {% else %}
       View Inventory
   {% endif %}
{% endblock %}

{% block page_content %}

        <form action="{{ url_for('inventory_entry') }}" method="POST">
    <!-- Background Photo -->
        <img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">
        <!-- Inventory Input -->
        <div class="inventoryBoxTotal">
            <div class="row">
                <div class = "d-flex justify-content-center">
                    <div class = "border-box col">
                        <div class = row>
                            <div class="formInputFields" style="width: 650px">
                                <div class = "border-box-col">
                                    <div class="row">
                                        <p class="formFieldsLabels">Item Name<br></p>
                                        <input type="text" class="inputFields" name="item_name" required><br><br></div>
                                        <p class="formFieldsLabels">Size Quantity</p>
                                        <div class=”cart-counter”>
                                            X-Small <input class="item-info" type=number name=xsmall min=0 max=15 value="0">
                                            Small <input class="item-info" type=number name=small min=0 max=15 value="0">
                                            Medium <input class="item-info" type=number name=medium min=0 max=15 value="0">
                                            Large <input class="item-info" type=number name=large min=0 max=15 value="0">
                                            X-Large <input class="item-info" type=number name=xlarge min=0 max=15 value="0">
                                            2X-Large <input class="item-info" type=number name=xxlarge min=0 max=15 value="0">
                                        </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Color</p>
                                        <input type="text" class="inputFields" name="color" required><br><br>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Item Price</p>
                                        <input type="text" class="inputFields" name="price" required><br><br>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Description</p>
                                        <input type="text" class="inputFields" name="desc" required><br><br>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Upload Image</p>
                                        <input class="form-control" type="file" id="image">
                                    </div>
                                    <div class="row">
                                      <input type="submit" value="Submit Inventory" class="inventoryButtons" method="POST">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
{% endblock %}
