{% extends "base.html" %}


{% block title %}
  {% if action and action == 'create' %}
      Input New Inventory
  {% elif action and action == 'update'  %}
      Update Inventory Item
  {% else %}
      View Inventory
  {% endif %}
{% endblock %}


{% block html_head %}
  {% if action and action == 'create' %}
      Input New Inventory
  {% elif action and action == 'update'  %}
      Update Inventory Item
  {% else %}
      View Inventory
  {% endif %}
{% endblock %}


{% block page_content %}
   <!-- Background Photo -->
<img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">
{#       <form action="{{ url_for('inventory_entry') }}" method="POST">#}
       <!-- Inventory Input -->
       <div class="inventoryBoxTotal">
           <div class="row">
               <div class = "d-flex justify-content-center">
                   <div class = "border-box col">
                       <div class = row>
                           <div class="formInputFields" style="width: 700px">
                               <div class = "border-box-col">
                                   <div class="row">

                                   <!-- set up the action for the form -->
                                   {% if action and action in ['create', 'update'] %}
                                    <form class="row g-4"
                                          action="{{ url_for('item_edit', product_id=item['product_id']) if item else url_for('inventory_entry') }}"
                                          enctype="multipart/form-data" method="post">
                                    {% else %}
                                        <div class="row g-4">
                                    {% endif %}

                                       <div class="row">
                                       <!-- Inventory Name Input -->
                                           {% if action and action in ['create'] %}
                                           <label for="item_name" class="form-label"><strong>Item Name</strong></label>
                                           <input type="text" class="inputFields" id="item_name" name="item_name" value="{{ item['item_name'] if item else '' }}" required>
                                           {% endif %}
                                         </div>

                                   <!-- Inventory Name Read/Update -->
                                       {% if action and action in ['read', 'update'] %}
                                       <div class="row">
                                       {% if action and action == 'update' %}
                                       <label for="item_name" class="form-label"><strong>Item Name</strong></label>
                                       <input type="text" class="inputFields" id="item_name" name="item_name"
                                              value="{{ item['item_name'] if item else '' }}" required>
                                       {% else %}
                                           <strong>Item Name</strong>
                                           <br> {{ item['item_mame'] }}
                                       {% endif %}
                                       {% endif %}
                                       </div>

                                       <!-- Collection Name Input -->
                                           <div class="col-md-4">
                                            {% if action and action in ['create', 'update'] %}
                                            <label for="collection_id" class="form-label"><strong>Collection Name</strong></label>
                                            <select name="collection_id" id="role" class="form-select" aria-label=".form-select-md example">
                                                <option value="0">---Select A Collection---</option>
                                                {% for each_collection in collections %}
                                                <option value="{{ each_collection['collection_id'] }}"
                                                        {{ 'selected' if item and each_collection['collection_id'] == item['collection_id'] else ''}}>{{ each_collection['collection_name'] }}</option>
                                                {% endfor %}
                                            </select>
                                            {% else %}
                                                 <strong>Collection Name</strong><br>
                                                {% for each_collection in collections %}
                                                    {{ each_collection['collection_name'] if item and each_collection['collection_id'] == item['collection_id'] else ''}}
                                                {% endfor %}
                                            {% endif %}
                                           </div>


                                   <!-- Inventory Size Quantity Input -->
                                       {% if action and action in ['create'] %}
                                           <label for="size" class="formFieldsLabels"><strong>Size Quantity</strong></label>
                                           <div class=”cart-counter”>
                                           X-Small <input type="number" class="item-info" id="xsmall" name="xsmall" min="0" max="15" value="{{ item['xsmall'] if item else 0 }}" required>
                                           Small <input type="number" class="item-info" id="small" name="small" min="0" max="15" value="{{ item['small'] if item else 0 }}" required>
                                           Medium <input type="number" class="item-info" id="medium" name="medium" min="0" max="15" value="{{ item['medium'] if item else 0 }}" required>
                                           Large <input type="number" class="item-info" id="large" name="large" min="0" max="15" value="{{ item['large'] if item else 0 }}" required>
                                           X-Large <input type="number" class="item-info" id="xlarge" name="xlarge" min="0" max="15" value="{{ item['xlarge'] if item else 0 }}" required>
                                           XX-Large <input type="number" class="item-info" id="xxlarge" name="xxlarge" min="0" max="15" value="{{ item['xxlarge'] if item else 0 }}" required>
                                           </div>
                                       {% endif %}

                               <!-- Inventory Price Input -->
                                       {% if action and action in ['create'] %}
                                           <label for="price" class="form-label"><strong>Price</strong></label>
                                           <input type="number" class="inputFields" id="price" name="price" value="{{ item['price'] if item else '' }}" required>
                                           {% endif %}

                                <!-- Inventory Description Input -->
                                       {% if action and action in ['create'] %}
                                           <label for="desc" class="form-label"><strong>Description</strong></label>
                                           <input type="text" class="inputFields" id="desc" name="desc" value="{{ item['desc'] if item else '' }}" required>
                                           {% endif %}




                               <!-- Inventory Size Read/Update -->
                                       {% if action and action in ['read', 'update'] %}
                                       <div class="row">
                                       {% if action and action == 'update' %}
                                       <label for="size" class="formFieldsLabels"><strong>Size Quantity</strong></label>
                                           <div class=”cart-counter”>
                                           X-Small <input type="number" class="item-info" id="xsmall" name="xsmall" min="0" max="15" value="{{ item['xsmall'] if item else 0 }}" required>
                                           Small <input type="number" class="item-info" id="small" name="small" min="0" max="15" value="{{ item['small'] if item else 0 }}" required>
                                           Medium <input type="number" class="item-info" id="medium" name="medium" min="0" max="15" value="{{ item['medium'] if item else 0 }}" required>
                                           Large <input type="number" class="item-info" id="large" name="large" min="0" max="15" value="{{ item['large'] if item else 0 }}" required>
                                           X-Large <input type="number" class="item-info" id="xlarge" name="xlarge" min="0" max="15" value="{{ item['xlarge'] if item else 0 }}" required>
                                           XX-Large <input type="number" class="item-info" id="xxlarge" name="xxlarge" min="0" max="15" value="{{ item['xxlarge'] if item else 0 }}" required>
                                           </div>
                                       {% else %}
                                           <strong>Size Quantity</strong>
                                           <br> {{ item['xsmall'] }}
                                           <br> {{ item['small'] }}
                                           <br> {{ item['medium'] }}
                                           <br> {{ item['large'] }}
                                           <br> {{ item['xlarge'] }}
                                           <br> {{ item['xxlarge'] }}
                                       {% endif %}
                                       {% endif %}
                                     </div>


                                   <!-- Inventory Price Read/Update -->
                                   {% if action and action in ['read', 'update'] %}
                                       <div class="row">
                                       {% if action and action == 'update' %}
                                       <label for="price" class="form-label"><strong>Item Price</strong></label>
                                       <input type="number" class="inputFields" id="price" name="price"
                                              value="{{ item['price'] if item else '' }}" required>
                                       {% else %}
                                           <strong>Price</strong>
                                           <br> {{ item['price'] }}
                                       {% endif %}
                                       {% endif %}
                                     </div>


                                   <!-- Inventory Description Read/Update -->
                                   {% if action and action in ['read', 'update'] %}
                                       <div class="row">
                                       {% if action and action == 'update' %}
                                       <label for="desc" class="form-label"><strong>Description</strong></label>
                                       <input type="text" class="inputFields" id="desc" name="desc"
                                              value="{{ item['desc'] if item else '' }}" required>
                                       {% else %}
                                           <strong>Description</strong>
                                           <br> {{ item['desc'] }}
                                       {% endif %}
                                       {% endif %}
                                     </div>

                                   <!-- Inventory Image Input -->
                                       <div class="col-md-2">
                                           {% if action and action in ['create', 'update'] %}<label for="product_image" class="form-label">{% endif %}
                                               <strong>Image</strong>
                                           {% if action and action in ['create', 'update'] %}</label>{% endif %}
                                         </div>
                                         <div class="col-md-10">
                                           {% if (not action) or action not in ['create', 'update']  %}
                                               <img class="mb-3" src="{{ url_for('static', filename='/products/' + item['product_image']) }}" alt="Picture of {{ item['item_name'] }}">
                                           {% else %}
                                               {% if action in ['update'] and item['product_image'] != '' %}
                                                   <img class="mb-3" src="{{ url_for('static', filename='/products/' + item['product_image']) }}" alt="Picture of {{ item['item_name'] }}">
                                               {% endif %}
                                               {% if action in ['create','update'] %}
                                                   <input type="file" class="form-control" id="product_image" name="product_image">
                                               {% endif %}
                                               {% if action in ['update'] and item['product_image'] != '' %}
                                                   <input class="form-check-input" type="checkbox" value="" id="delete_product_image" name="delete_product_image">
                                                   <label class="form-check-label" for="delete_product_image"></label> <strong>Delete product image without providing a replacement</strong>
                                               {% endif %}
                                         {% endif %}
                                         </div>

                                   <div class="row">
                                     <input type="submit" value="Submit Inventory" class="inventoryButtons" method="POST">
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

{% if action and action in ['create', 'update'] %}
</form>
{% else %}
    </div>
{% endif %}
{% endblock %}

