{#{% extends "base.html" %}#}
{##}
{#{% block title %}Inventory Log{% endblock %}#}
{##}
{#{% block page_content %}#}
{##}
{#        <div class="inventoryBoxTotal" style="height: 100vh>#}
{#            <div class="row">#}
{#                <div class = "d-flex justify-content-center">#}
{#                    <div class = border-box col>#}
{#                        <div class = row>#}
{#                            <h2 class="tableHeader"><strong>Inventory</strong></h2><br><br>#}
{#                        </div>#}
{#                        <div class = row>#}
{#                            <table class="table">#}
{#                              <thead>#}
{#                                <tr>#}
{#                                    <th scope="col">Item ID</th>#}
{#                                    <th scope="col">Item Name </th>#}
{#                                    <th scope="col">XSmall</th>#}
{#                                    <th scope="col">Small</th>#}
{#                                    <th scope="col">Medium</th>#}
{#                                    <th scope="col">Large</th>#}
{#                                    <th scope="col">XLarge</th>#}
{#                                    <th scope="col">XXLarge</th>#}
{#                                    <th scope="col">Color</th>#}
{#                                    <th scope="col">Item Price</th>#}
{#                                    <th scope="col">Description</th>#}
{#                                    <th scope="col">Image</th>#}
{#                                </tr>#}
{#                              </thead>#}
{#                              <tbody>#}
{#                                <tr>#}
{#                                  <th scope="row">1</th>#}
{#                                  <td>Long Sleeve</td>#}
{#                                  <td>S</td>#}
{#                                  <td>Blue</td>#}
{#                                  <td>$39.99</td>#}
{#                                  <td>2</td>#}
{#                                  <td>Description etc.</td>#}
{#                                  <td>Insert Image</td>#}
{#                                </tr>#}
{#                              </tbody>#}
{#                            </table>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#{% endblock %}#}

{% extends "base.html" %}


{% block page_title %}
   Inventory Log
{% endblock %}


{% block page_head %}
   Inventory Log
{% endblock %}


{% block page_content %}


   <div class="row">
   <div class="col">


   <table class="table table-striped">
       <tr>
            <th scope="col">Item Name </th>
            <th scope="col">XSmall</th>
            <th scope="col">Small</th>
            <th scope="col">Medium</th>
            <th scope="col">Large</th>
            <th scope="col">XLarge</th>
            <th scope="col">XXLarge</th>
            <th scope="col">Color</th>
            <th scope="col">Item Price</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
           {% if current_user.role in ['ADMIN', 'MANAGER'] %}
           <th>Actions</th>
           {% endif %}
       </tr>


       {% for each_item in items %}
       <tr>
           <td>{{ each_item['item_name'] }}</td>
                <td>{{ each_item['xsmall'] }}</td>
                <td>{{ each_item['small'] }}</td>
                <td>{{ each_item['medium'] }}</td>
                <td>{{ each_item['large'] }}</td>
                <td>{{ each_item['xlarge'] }}</td>
                <td>{{ each_item['xxlarge'] }}</td>
                <td>{{ each_item['color'] }}</td>
                <td>{{ each_item['price'] }}</td>
                <td>{{ each_item['desc'] }}</td>
                <td>{{ each_item['image'] }}</td>
           {% if current_user.role in ['ADMIN', 'MANAGER'] %}
           <td>
               <a href="{{ url_for('item_edit', product_id=each_item['product_id']) }}" class="btn btn-secondary" type = "submit" role="button">Edit</a>
               {% if current_user.role in ['ADMIN'] %}
               <a href="{{ url_for('item_delete', product_id=each_item['product_id']) }}" class="btn btn-secondary" type = "submit" role="button">Delete</a>
               {% endif %}
           </td>
           {% endif %}
       </tr>
       {% endfor %}
   </table>
   </div>
   </div>


   {% if current_user.role in ['ADMIN', 'MANAGER'] %}
   <div class="row">
       <div class="col">
               Total Number of Items: {{ items|length }}
       </div>
   </div>


   <div class="row">
       <div class="col text-center">
           <a href="{{ url_for('inventory_entry') }}" class="btn btn-primary" role="button">Add New Item</a>
       </div>
   </div>
   {% endif %}


{% endblock %}