{% extends "base.html" %}

{% block title %}Check Out{% endblock %}

{% block page_content %}

        <!-- Inventory Input -->
        <div class="inventoryBoxTotal">
            <div class="row">
                <div class = "d-flex justify-content-center">
                    <div class = border-box col>
                        <div class = row>
                            <h2 class="checkoutHeader"><strong>Inventory Input</strong></h2><br><br>
                        </div>
                        <div class = row>
                            <form class="formInputFields">
                                <div class = "row">
                                    <div class="border-box col">
                                        <div class="row">
                                            <p class="formFieldsLabels">Item ID (*)<br></p>
                                            <input type="text" class="inventoryinputFields" name="ItemID" required>
                                        </div>
                                    </div>
                                </div>
                                <div class = "border-box-col">
                                    <div class="row">
                                        <p class="formFieldsLabels">Item Name<br></p>
                                        <input type="text" class="inventoryinputFields" name="ItemName" required><br><br></div>
                                    <div class = "dropdown">
                                        <p class="formFieldsLabels">Size</p>
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                            Select...
                                        </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">XS</a></li>
                                                <li><a class="dropdown-item" href="#">S</a></li>
                                                <li><a class="dropdown-item" href="#">M</a></li>
                                                <li><a class="dropdown-item" href="#">L</a></li>
                                                <li><a class="dropdown-item" href="#">XL</a></li>
                                                <li><a class="dropdown-item" href="#">2X</a></li>
                                            </ul>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Color</p>
                                        <input type="text" class="inventoryinputFields" name="Color" required><br><br>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Item Price</p>
                                        <input type="text" class="inventoryinputFields" name="Price" required><br><br>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Quantity</p>
                                        <input type="text" class="inventoryinputFields" name="Quantity" required><br><br>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Description</p>
                                        <input type="text" class="inventoryinputFields" name="Description" required><br><br>
                                    </div>
                                    <div class="row">
                                        <p class="formFieldsLabels">Upload Image</p>
                                        <input class="form-control" type="file" id="formImage">
                                    </div>
                                    <div class="row">
                                      <input type="submit" value="Submit Inventory" class="inventoryButtons">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
{% endblock %}
