<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory Management</title>
        <link href="/static/CSS/style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg" style="background-color: #69a695">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../static/images/Clear%20Background%20Logo.png" alt="Bootstrap" width="30" height="24"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="Home%20Page.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shop
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Game Day Collection</a></li>
                    <li><a class="dropdown-item" href="#">Dark Blue Collection</a></li>
                    <li><a class="dropdown-item" href="#">Springtime Collection</a></li>
                    <li><a class="dropdown-item" href="#">Logo Collection</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    About
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Around the Block</a></li>
                    <li><a class="dropdown-item" href="#">Our Mission</a></li>
                    <li><a class="dropdown-item" href="#">Meet our Team</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contact Us
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Request Form</a></li>
                    <li><a class="dropdown-item" href="#">Reviews</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Inventory Input -->
        <div class="inventoryBoxTotal">
            <div class="row">
                <div class = "border-box-col">
                    <h2 class="checkoutHeader"><strong>Inventory Input</strong></h2><br><br>
                    <form class="formInputFields">
                        <div class = "row">
                            <div class="border-box col">
                                <div class="row">
                                    <p class="formFieldsLabels">Item ID (*)<br></p>
                                    <input type="text" class="inputFields" name="ItemID" required>
                                </div>
                            </div>
                        </div>
                        <div class = "border-box-col">
                            <div class="row">
                                <p class="formFieldsLabels">Item Name<br></p>
                                <input type="text" class="inputFields" name="ItemName" required><br><br></div>
                            <div class = "dropdown">
                                <p class="formFieldsLabels">Size</p>
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        Select...
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">XS</a></li>
                                            <li><a class="dropdown-item" href="#">S</a></li>
                                            <li><a class="dropdown-item" href="#">M</a></li>
                                            <li><a class="dropdown-item" href="#">L</a></li>
                                            <li><a class="dropdown-item" href="#">XL</a></li>
                                            <li><a class="dropdown-item" href="#">2X</a></li>
                                        </ul>
                                </div>
                                <div class="row">
                                    <p class="formFieldsLabels">Color</p>
                                    <input type="text" class="inputFields" name="Color" required><br><br>
                                </div>
                                <div class="row">
                                    <p class="formFieldsLabels">Item Price</p>
                                    <input type="text" class="inputFields" name="Price" required><br><br>
                                </div>
                                <div class="row">
                                    <p class="formFieldsLabels">Quantity</p>
                                    <input type="text" class="inputFields" name="Quantity" required><br><br>
                                </div>
                                <div class="row">
                                    <p class="formFieldsLabels">Description</p>
                                    <input type="text" class="inputFields" name="Description" required><br><br>
                                </div>
                                <div class="row">
                                    <p class="formFieldsLabels">Upload Image</p>
                                    <input class="form-control" type="file" id="formImage">
                                </div>
                                <div class="row">
                                  <input type="submit" value="Submit Inventory" class="inventoryButtons">
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
