{% extends "base.html" %}

{% block title %}Log-In{% endblock %}

{% block html_style %}
    h1 {
        text-align: center;

    }

 text-center {padding: 9000px 9000px;}
{% endblock %}

{% block page_content %}
<!-- Navbar -->

    <!-- background image -->
<img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

<div class="text-center" style="height: 100vh">
    <h1>Log-in Below</h1>
    <form action="/LogIn" method="POST">
        <div class="border-box col">
            <div class="row" style="padding-right: 1px">
                <input type = "text" class="loginInput" placeholder="Username" name="username" required>
            </div> <br>
            <div class="row" style="padding-right: 1px">
                <input type="password" class="loginInput" placeholder="Password" name="password" required>
            </div>
        </div>
        <br><input type="submit" value="Log In">
    </form>
    <br>
    <br>
</div>

{% endblock %}