{% extends "base.html" %}

{% block title %}Log-In{% endblock %}

{% block html_style %}
    h1 {
        text-align: center;
    }
 body, html {
        background-image: url("../static/images/transparent-background.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

 text-center {padding: 9000px 9000px;}
{% endblock %}

{% block page_content %}
<!-- Navbar -->

   {% if form_submitted %}

<div class="text-center">
        <h2>Welcome, {'first_name'}!</h2>

    <form action="/Shop" method="get">
      <div>
        <input type="submit" value="Start Shopping" />
      </div>
    </form>

    <form action="/cart" method="get">
      <div>
        <input type="submit" value="View Cart" />
      </div>
    </form>

    <!-- need to change /CheckOut to a link to change info-->
    <form action="/CheckOut" method="get">
      <div>
        <input type="submit" value="Past Orders" />
      </div>
    </form>
</div>


    {% else %}


<div class="text-center">
    <h1>Log-in Below</h1>
    <form action="/LogIn" method="post">
        <div class="border-box col">
            <div class="row" style="padding-right: 1px">
                <input type = "text" class="loginInput" placeholder="Username" required>
            </div> <br>
            <div class="row" style="padding-right: 1px">
                <input type="password" class="loginInput" placeholder="Password" required>
            </div>
        </div>
        <br><input type="submit" value="Log In">
    </form>
    <br>
    <br>
</div>


<!--#verify if username and password are correct using html
#redirect to home page-->
{% endif %}
{% endblock %}