{% extends "base.html" %}

{% block title %}Log-In{% endblock %}

{% block page_head %}
    Log-In
{% endblock %}

{% block page_content %}
    <!-- background image -->
    <img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

    <div class="text-center" style="height: 100vh">
        <br><h1>Log-In Below</h1>
        <form action="{{ url_for('LogIn') }}" method="POST">
            <div class="border-box col">
                <!-- allow user to enter username -->
                <div class="row" >
                    <input type="text" class = "signupInput" name="username" placeholder="Username" required>
                </div> <br>
                <!-- allow user to enter password -->
                <div class="row" >
                    <input type="password" class = "signupInput" name="password" placeholder="Password" required>
                </div> <br>
                <!-- allow user to submit form -->
                <div class="row">
                    <input type="submit" value="Log-In" class="inventoryButtons">
                </div>
            </div>
        </form>
    </div>
{% endblock %}