<!--Order Confirmation-->
{% extends "base.html" %}

{% block title %}Check Out{% endblock %}

{% block html_style %}

{% endblock %}

{% block page_content %}
<!--Order Confirmation headers and image-->
<!-- background image -->
<img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

<!-- putting everything into gray box for order confirmation -->
<div class="box" style="height: 69vh; width: 100vh">
<!-- order number for customer -->
        <div class="row">
            <h1 class="text-center">Order #</h1>
        </div>
        <div class="center-image">
<!-- shopping bag for order confirmed -->
            <img src="../static/images/shopping-bag2.png" class= "center-image" width="120" height="120" alt="Shopping Bag Image" style="padding-bottom: 10px">
        </div>
        <div class="row">
<!-- thank you message for ordering-->
            <h5 class="text-center">Your order has been placed!</h5>
        </div>
        <div class="row">
            <h5 class="text-center">Welcome to the ATB Family! We are getting your order ready.</h5>
        <br>
        </div>
<!-- submit another order button-->
        <form action="/Shop" method="get" style="text-align: center">
            <input type="submit" value="Submit Another Order">
        </form>

<!--bottom image-->
    <div class="row" style="align-content: center">
        <img src="../static/images/ShopPage_TopBanner.jpeg" width="180" height="210" alt="Around the Block Group Pic" class="responsive" style="padding-top: 20px">
    </div>
</div>


    {% endblock %}