<!--Order Confirmation-->
{% extends "base.html" %}

{% block title %}Check Out{% endblock %}

{% block html_style %}
     body, html {
        background-image: url("../static/images/transparent-background.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

{% endblock %}

{% block page_content %}
<!--Order Confirmation headers and image-->
<div class="container">
    <div class="box">
        <div class="row">
            <br>
            <h1 class="text-center">Order #</h1>
        </div>
        <div class="row">
            <img src="https://cdn-icons-png.flaticon.com/512/3139/3139155.png" width="15%" height="15%" class="centerimage" alt="Shopping Cart Image">
        </div>
        <div class="row">
            <h2 class="text-center">Your order has been placed!</h2>
            <br>
        </div>
        <div class="row">
            <h3 class="text-center">Welcome to the ATB family - we are getting your order ready</h3>
        </div>
<!--shop again button-->
        <div class="row">
            <div class="input">
            <form action="/Shop" method="get" style="margin-left: 40%">
                <input type="submit" value="Submit Another Order">
            </form>
            </div>
        </div>


<!--bottom image-->
    <div class="row">
        <img src="../static/images/ShopPage_TopBanner.jpeg" width="100%" height="100%" alt="Around the Block Group Pic" class="responsive">
    </div>

</div>
    {% endblock %}