{#{% extends "base.html" %}#}
{##}
{#{% block title %}Order Details{% endblock %}#}
{##}
{#{% block html_head %}#}
{#    <!-- Add space between header and title -->#}
{#    <div class="GenProduct_HeadingSpacer"></div>#}
{##}
{#    Pending Orders#}
{#{% endblock %}#}
{##}
{#{% block html_style %}#}
{#    tr {#}
{#        font-size: 17px;#}
{#    }#}
{#{% endblock %}#}
{##}
{#{% block page_content %}#}
{##}
{#<div class="text-center" style="height: 100vh">#}
{#<!-- Order Management Table -->#}
{#    <table class="table table-striped">#}
{#  <thead>#}
{#    <tr>#}
{#        <th scope="col">Order ID</th>#}
{#        <th scope="col">Item Name</th>#}
{#        <th scope="col">Item Price</th>#}
{#        <th scope="col">Quantity</th>#}
{#        <th scope="col">Size</th>#}
{#        <th scope="col">Color</th>#}
{#        <th scope="col">Total Price</th>#}
{#        <th scope="col">Actions</th>#}
{##}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#    <tr>#}
{#      <th scope="row">1</th>#}
{#      <td>Original Tee</td>#}
{#      <td>$28</td>#}
{#      <td>5</td>#}
{#      <td>Medium</td>#}
{#      <td>Black</td>#}
{#      <td>$140</td>#}
{#      <td><a href="" class="btn btn-secondary" type = "submit" role="button">Shipped</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">2</th>#}
{#      <td>T-Shirt</td>#}
{#      <td>$28</td>#}
{#      <td>8</td>#}
{#      <td>Large</td>#}
{#      <td>Red</td>#}
{#      <td>$224</td>#}
{#      <td><a href="" class="btn btn-secondary" type = "submit" role="button">Shipped</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">3</th>#}
{#      <td>Long Sleeve</td>#}
{#      <td>$36</td>#}
{#      <td>4</td>#}
{#      <td>Small</td>#}
{#      <td>Blue</td>#}
{#      <td>$144</td>#}
{#      <td><a href="" class="btn btn-secondary" type = "submit" role="button">Shipped</a></td>#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}
{##}
{#  <table class="table table-striped">#}
{#    <thead>#}
{#        <tr>#}
{#            <th scope="col">Total Items Sold</th>#}
{#            <th scope="col">Total Revenue</th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        <tr>#}
{#            <th scope="row">17</th>#}
{#            <th scope="row">$508</th>#}
{#        </tr>#}
{#    </tbody>#}
{#  </table>#}
{#</div>#}
{##}
{##}
{#{% endblock %}#}
{#        {% for item in order.items %}#}
{#            <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <p><a href="{{ url_for('OrderDetails') }}">Return to order list</a></p>#}
{% extends "base.html" %}


{% block page_title %}
   Order Log
{% endblock %}

{% block html_head %}
    <!-- Add space between header and title -->
    <div class="GenProduct_HeadingSpacer"></div>
   Order Log
{% endblock %}

{% block page_content %}

<div class="text-center" style="height: 100vh">
   <!-- Creation of Collections table -->
    <div class="row">
    <div class="col">

   <table class="table table-striped">
       <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Size</th>
            <th scope="col">Total Price</th>
            <th scope="col">View Details</th>
           {% if current_user.role in ['ADMIN'] %}
                <th>Status</th>
           {% endif %}
       </tr>


         {% for each_order in orders %}
{#             {% if account_id != None %}#}
           <td>{{ each_order['order_id'] }}</td>
           <td>{{ each_order['item_name'] }}</td>
           <td>{{ "${:.2f}".format(each_order['price']) }}</td>
           <td>{{ each_order['quantity'] }}</td>
           <td>{{ each_order['size'] }}</td>
           <td>{{ "${:.2f}".format(each_order['price_charged']) }}</td>
           <td>
               <a href="#container-{{ each_order['order_id'] }}" class="btn btn-secondary" type="submit" role="button">View</a>
               <div id="container-{{ each_order['order_id'] }}">
                   <div id="exampleModal" class="show">
                       <a href="#" class="btn btn-secondary" style="margin-top: 10px" type="submit" role="button">Close</a><br>
{#                              {% if each_order['order_id'] in info %}#}
                            {% set count = [0] %}
                            {% for info in info if count == [0] %}

                           <div class="text-center" style="align-content: center"></div>
                           <div class="row">
                            <div class="col-lg-6">
                                 <strong>Order ID:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ each_order['order_id'] }}
                            </div>
                           </div><br>

                           <div class="row">
                           <div class="col-lg-6">
                               <strong>First Name:</strong>
                           </div>
                           <div class="col-lg-6">
                               {{ info['first_name'] }}
                           </div>
                           </div>

                            <div class="row">
                            <div class="col-lg-6">
                                 <strong>Last Name:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['last_name'] }}
                            </div>
                           </div>

                            <div class="row">
                            <div class="col-lg-6">
                                 <strong>Address:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['address'] }}
                            </div>
                           </div>

                            <div class="row">
                            <div class="col-lg-6">
                                 <strong>City:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['city'] }}
                            </div>
                           </div>

                            <div class="row">
                            <div class="col-lg-6">
                                 <strong>State:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['state'] }}
                            </div>
                           </div>

                            <div class="row">
                            <div class="col-lg-6">
                                 <strong>Zip Code:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['zipcode'] }}
                            </div>
                           </div>

                            <div class="row">
                            <div class="col-lg-6">
                                 <strong>Email:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['email'] }}
                            </div>
                           </div>

                            <div class="row">
                            <div class="col-lg-6">
                                 <strong>Phone Number:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['phoneNumber'] }}
                            </div>
                           </div>

                           <div class="row">
                            <div class="col-lg-6">
                                 <strong>Shipping Method:</strong>
                            </div>
                            <div class="col-lg-6">
                                 {{ info['shipping'] }}
                            </div>
                           </div>
                            </div>
                                 {% if count.append(count.pop() + 1) %}
                                {% endif %}
{#                                {% set count = [1] %}#}
{#                            {% endif %}#}
{#                                {% set count = 5 %}#}
{#                                    {{ count }}#}
{##}
{#                                    {{ count }}#}
{#                                {% endfor %}#}
                          {% endfor %}
                   </div>
               </div>
           </td>
       </tr>
           {% endfor %}

   </table>
   </div>
   </div>

   {% if current_user.role in ['ADMIN', 'EMPLOYEE'] %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Total Number of Orders</th>
            <th scope="col">Total Revenue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ orders|length }}</th>
            <th scope="row">${{ "{:,.2f}".format(total_order_sum) }}</th>
        </tr>
    </tbody>
  </table>
    <p><br></p>
       </div>
   {% endif %}

{% endblock %}