{% extends "base.html" %}

{% block title %}Log-In{% endblock %}

{% block page_head %}
    Profile
{% endblock %}

{% block page_content %}

    <!-- background image -->
<img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

    <!-- welcome user to the profile page -->
    <div class="text-center" style="height: 100vh">
        <div class="row">
            <h2><br>Hello, {{ current_user.first_name }}!</h2>
        </div>
        <br>
        <!-- display information to helpful links-->
        <div class="row">
            <form action="{{ url_for('Shop') }}" method="get">
                <input type="submit" value="Start Shopping">
            </form>
        </div>
        <br>
        <div class="row">
            <form action="{{ url_for('CheckOut') }}" method="get">
                <input type="submit" value="View Cart">
            </form>
        </div>
        <br>
        <div class="row">
            <form action="{{ url_for('ReviewForm') }}" method="get">
                <input type="submit" value="Leave Review">
            </form>
        </div>
    </div>

{% endblock %}