<!-- Extending base code to use Jinja principles -->
{% extends "base.html" %}

{% block title %}Request Form{% endblock %}

{% block html_head %}
    <div class="GenProduct_HeadingSpacer text-center">
    <br>
        <h1>Leave a Request</h1>
    </div>
{% endblock %}

{% block page_content %}
    <!-- Add padding between top of the page and contents within the table -->
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Centers and bolds heading text for the page -->
    <div class = "h1-Center">
        <!-- Heading text for entire webpage  -->
        <h4>If you have any questions, concerns or ideas for us please complete the form below!</h4>
    </div>
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Create two column layout to house form and photo side by side-->
    <div class = "GenProduct_rowLayout">
        <div class="GenProduct_columnLayout">
             <!--Placing image on left hand column-->
            <img src="../static/images/Contact%20Us%20Page%20Piic.png" width = "450" height = "470" alt="ATB Model Skateboarding" style = "padding-left: 20px">
        </div>
        <!-- create new, right-handed side column-->
        <div class="GenProduct_columnLayout">
        <!-- adds passing between both columns to evenly space information -->
        <div class = "GenProduct_VerticalSpacer">
        <!-- conditional formatting to show confirmation message to users after completing the form -->
            <div class = "GenProduct_VerticalRightSpacer">

        <form action="{{ url_for('RequestForm') }}" method="post">
        <div class="inputBoxTotal" style="padding-left: 24px">
            <div class="row">
                <!--Styling for each of the boxes, background color of form and buttons used within form -->
                <div class="border-box col">
                    <div class="formInputFields">
                        {% if current_user.is_authenticated %}
                            <div class = "row">
                                <!--Field to collect users message -->
                                <p class="formFieldsLabels">Message*</p>
                                <textarea rows="5" cols="20" placeholder="Enter your message here!" name="message"></textarea>
                            </div>
                        {% else %}
                            <div class = "row">
                                <div class="border-box col">
                                    <div class="row" style="padding-right: 15px">
                                        <!--Field to collect users first name -->
                                        <p class="formFieldsLabels">First Name*<br></p>
                                        <input type="text" class="inputFields" name="first_name" required>
                                    </div>
                                </div>
                                <div class="border-box col">
                                    <div class="row" style="padding-left: 15px">
                                        <!--Field to collect users last name -->
                                        <p class="formFieldsLabels">Last Name*<br></p>
                                        <input type="text" class="inputFields" name="last_name" required><br><br>
                                    </div>
                                </div>
                            </div>
                            <div class = "row">
                                <!--Field to collect users email -->
                                <p class="formFieldsLabels">Email*</p>
                                <input type="email" class="inputFields" name="email" required><br><br>
                            </div>
                            <div class = "row">
                                <!--Field to collect users message -->
                                <p class="formFieldsLabels">Message*</p>
                                <textarea rows="5" cols="20" placeholder="Enter your message here!" name="message" require></textarea>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class = "vertical-center">
                        <!--Field to submit the users answers inputted into the form -->
                        <input type="submit" value="Submit Request" class="checkoutButtons" style="float: right; margin: 20px; padding: 7px 75px 7px 75px;">
                    </div>
                </div>
            </div>
        </div>
        </form>
            </div>
        </div>
        </div>
    </div>
    <!-- adds spacing between bottom of all text content and footer -->
    <div class="GenProduct_HeadingSpacer"></div>
{% endblock %}