<!-- Extending base code to use Jinja principles -->
{% extends "base.html" %}

{% block title %}Request Form{% endblock %}

{% block page_content %}

    <!-- Add padding between top of the page and contents within the table -->
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Centers and bolds heading text for the page -->
    <div class = "h1-Center">
        <!-- Heading text for entire webpage  -->
        <h1><strong>Leave a Request</strong></h1>
        <h4>If you have any questions, concerns or ideas for us please complete the form below!</h4>
    </div>
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Create two column layout to house form and photo side by side-->
    <div class = "GenProduct_rowLayout">
        <div class="GenProduct_columnLayout">
             <!--Placing image on left hand column-->
            <img src="../static/images/Contact%20Us%20Page%20Piic.png" width = "450" height = "470" alt="ATB Model Skateboarding" style = "padding-left: 20px">
        </div>
        <!-- create new, right-handed side column-->
        <div class="GenProduct_columnLayout">
        <!-- adds passing between both columns to evenly space information -->
        <div class = "GenProduct_VerticalSpacer">
        <!-- conditional formatting to show confirmation message to users after completing the form -->
            <div class = "GenProduct_VerticalRightSpacer">
            {% if form_submitted %}
                <div class="row">
                     <div class="formInputFields">
                             <!-- Centers text on confirmation output -->
                             <div class = "h1-Center">
                                <!-- Message outputted to user after form completed -->
                                <h3>Thank you {{ request.form.get('first_name')}} for submitting a request, we will get back to you as soon as possible!</h3>
                             </div>
                          <!--Placing icon under confirmation message-->
                          <img src="../static/images/RequestForm_FormConfirmation.png" width = "100" height = "100" alt="Form Sent Confirmation Icon" class = "center-image">
                     </div>
                </div>
            <!--If form is not completed, this is the information that users will see-->
            {% else %}
        <!--Creates form to collection customer's requests-->
        <form action="{{ url_for('RequestForm') }}" method="post">
        <div class="inputBoxTotal" style="padding-left: 24px">
            <div class="row">
                <!--Styling for each of the boxes, background color of form and buttons used within form -->
                <div class="border-box col">
                    <div class="formInputFields">
                        <div class = "row">
                            <div class="border-box col">
                                <div class="row" style="padding-right: 15px">
                                    <!--Field to collect users first name -->
                                    <p class="formFieldsLabels">First Name(*)<br></p>
                                    <input type="text" class="inputFields" name="first_name" required>
                                </div>
                            </div>
                            <div class="border-box col">
                                <div class="row" style="padding-left: 15px">
                                    <!--Field to collect users last name -->
                                    <p class="formFieldsLabels">Last Name(*)<br></p>
                                    <input type="text" class="inputFields" name="last_name" required><br><br>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <!--Field to collect users email -->
                            <p class="formFieldsLabels">Email(*)</p>
                            <input type="email" class="inputFields" name="email" required><br><br>
                        </div>
                        <div class = "row">
                            <!--Field to collect users message -->
                            <p class="formFieldsLabels">Message(*)</p>
                            <input type="text" class="inputFields" name="message" required><br><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "vertical-center">
                        <!--Field to submit the users answers inputted into the form -->
                        <input type="submit" value="Submit Request" class="checkoutButtons" style="float: right; margin: 20px; padding: 7px 75px 7px 75px;">
                    </div>
                </div>
            </div>
        </div>
                </form>
                </div>
                </div>
                </div>
    </div>
    <!-- adds spacing between bottom of all text content and footer -->
    <div class="GenProduct_HeadingSpacer"></div>
        {% endif %}
{% endblock %}