<!-- Extending base code to use Jinja principles -->
{% extends "base.html" %}

{% block title %}Review Form{% endblock %}

{% block html_head %}
    <div class="GenProduct_HeadingSpacer text-center">
        <br>
        <h1>Leave a Review</h1>
    </div>
{% endblock %}

{% block page_content %}

    <!-- Add padding between top of the page and contents within the table -->
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Centers and bolds heading text for the page -->
    <div class = "h1-Center">
        <!-- Heading text for entire webpage  -->
        <h4>Enjoying our products? Let us know by leaving a review below!</h4>
    </div>
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Create two column layout to house form and photo side by side-->
    <div class = "GenProduct_rowLayout">
        <div class="GenProduct_columnLayout">
             <!--Placing image on left hand column-->
            <img src="../static/images/Reviews_FormPhoto.png" width = "450" height = "470" alt="ATB Model on a Keg" style = "padding-left: 20px">
        </div>
        <!-- create new, right-handed side column-->
        <div class="GenProduct_columnLayout">
        <!-- adds passing between both columns to evenly space information -->
        <div class = "GenProduct_VerticalSpacer">
        <!-- conditional formatting to show confirmation message to users after completing the form -->
            <div class = "GenProduct_VerticalRightSpacer">

                <!--Creates form to collection customer's requests-->
                <form action="{{ url_for('ReviewForm') }}" method="post">
                    <div class="inputBoxTotal" style="padding-left: 24px">
                        <div class="row">
                            <!--Styling for each of the boxes, background color of form and buttons used within form -->
                            <div class="border-box col">
                                <div class="formInputFields" >
                                    <!--If user is logged in, they will see an abbreviated form as we can already gather certain information  -->
                                    {% if current_user.is_authenticated %}
                                        <div class = "row">
                                            <!--Field to collect users message -->
                                            <p class="formFieldsLabels">Review*</p>
                                            <textarea rows="5" cols="20" placeholder="Enter your review here!" name="message" require></textarea>
                                        </div>
                                        <div class = "row">
                                            <!--Field to collect users ratings out of 5 on products purchased -->
                                            <p class="formFieldsLabels">Rating*</p>
                                            <select name="rating" id="role" class="form-select" placeholder="---Select A Rating---"aria-label=".form-select-md example" required>
                                                <option value="" disabled selected>---Select A Rating---</option>
                                                <option id="one" value="1/5">1/5</option>
                                                <option id="two" value="2/5">2/5</option>
                                                <option id="three" value="3/5">3/5</option>
                                                <option id="four" value="4/5">4/5</option>
                                                <option id="five" value="5/5">5/5</option>
                                            </select>
                                        </div>
                                        <!--If user is NOT logged in, they will see more fields on the form  -->
                                    {% else %}
                                        <div class = "row">
                                            <div class="border-box col">
                                                <div class="row" style="padding-right: 15px">
                                                    <!--Field to collect users first name -->
                                                    <p class="formFieldsLabels">First Name*<br></p>
                                                    <input type="text" class="inputFields" name="first_name" required>
                                                </div>
                                            </div>
                                            <div class="border-box col">
                                                <div class="row" style="padding-left: 15px">
                                                    <!--Field to collect users last name -->
                                                    <p class="formFieldsLabels">Last Name*<br></p>
                                                    <input type="text" class="inputFields" name="last_name" required><br><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class = "row">
                                            <!--Field to collect users email -->
                                            <p class="formFieldsLabels">Email*</p>
                                            <input type="email" class="inputFields" name="email" required><br><br>
                                        </div>
                                        <div class = "row">
                                            <!--Field to collect users message -->
                                            <p class="formFieldsLabels">Review*</p>
                                            <textarea rows="5" cols="20" placeholder="Enter your review here!" name="message" required></textarea>
                                        </div>
                                        <div class = "row">
                                            <!--Field to collect users numeric rating-->
                                            <p class="formFieldsLabels">Rating*</p>
                                            <select name="rating" id="role" class="form-select" aria-label=".form-select-md example" required>
                                                <option value="" disabled selected>---Select A Rating---</option>
                                                <option name="one" id="one" value="1">1/5</option>
                                                <option name="two" id="two" value="2">2/5</option>
                                                <option name="three" id="three" value="3">3/5</option>
                                                <option name="four" id="four" value="4">4/5</option>
                                                <option name="five" id="five" value="5">5/5</option>
                                            </select>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class = "vertical-center">
                                    <!--Field to submit the users answers inputted into the form -->
                                    <input type="submit" value="Submit Review" class="checkoutButtons" style="float: right; margin: 20px; padding: 7px 75px 7px 75px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <!-- adds spacing between form section and posted reviews section -->
    <div class="GenProduct_HeadingSpacer"></div>
    <div class = "h1-Center">
        <!-- Heading text for second half of the webpage  -->
        <h2><strong>Read Reviews</strong></h2>
        <h4>Interested to see what others think? Read some of our reviews below!</h4>
    </div>

    <!-- adds spacing between bottom of all text content and footer -->
    <div class="GenProduct_HeadingSpacer"></div>

    <!-- Creation of table to show all posted reviews -->
    <div class="cartPlaceholder" style="position: relative; height: auto; min-height: 100%; padding-bottom: 7px;">
        <!-- Adds alternate coloring to the reviews table -->
        <table class="table table-striped">
            <!-- Sets column widths to the table to evenly space out each of the elements -->
            <colgroup>
                <col width="33.3%">
                <col width="33.3%">
                <col width="33.3%">
            </colgroup>
            <!-- Sets the headings for each column -->
            <th scope="col"> Name </th>
            <th scope="col" >Review</th>
            <th scope="col" class="text-center">Rating</th>

            <!-- Loops through all reviews -->
            {% for each_review in review %}
                <!-- Selects reviews which have been approved to be posted -->
                {% if each_review['posted'] == 1 %}
                    <tr>
                        <!-- Combines first and last name to make one name record and print it out -->
                        <td> {{ each_review['first_name'] }} {{ each_review['last_name'] }} </td>
                        <!-- prints out customer review -->
                        <td class = "wrap" class="cartItemLabels"> {{ each_review['message'] }}</td>
                        <!-- prints out numerical review given -->
                        <td class = "cartItemLabels"> {{ each_review['rating'] }} </td>
                    </tr>
                {% endif %}
             {% endfor %}
        </table>
    </div>


{% endblock %}