<!-- Extending base code to use Jinja principles -->
{% extends "base.html" %}

{% block title %}Review Form{% endblock %}

{% block html_head %}
    <div class="GenProduct_HeadingSpacer"></div>
    <strong>Leave a Review</strong>
{% endblock %}

{% block page_content %}

    <!-- Add padding between top of the page and contents within the table -->
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Centers and bolds heading text for the page -->
    <div class = "h1-Center">
        <!-- Heading text for entire webpage  -->
        <h4>Enjoying our products? Let us know by leaving a review below!</h4>
    </div>
    <div class="GenProduct_HeadingSpacer"></div>
    <!-- Create two column layout to house form and photo side by side-->
    <div class = "GenProduct_rowLayout">
        <div class="GenProduct_columnLayout">
             <!--Placing image on left hand column-->
            <img src="../static/images/Reviews_FormPhoto.png" width = "450" height = "470" alt="ATB Model on a Keg" style = "padding-left: 20px">
        </div>
        <!-- create new, right-handed side column-->
        <div class="GenProduct_columnLayout">
        <!-- adds passing between both columns to evenly space information -->
        <div class = "GenProduct_VerticalSpacer">
        <!-- conditional formatting to show confirmation message to users after completing the form -->
            <div class = "GenProduct_VerticalRightSpacer">

        <!--Creates form to collection customer's requests-->
        <form action="{{ url_for('ReviewForm') }}" method="post">
        <div class="inputBoxTotal" style="padding-left: 24px">
            <div class="row">
                <!--Styling for each of the boxes, background color of form and buttons used within form -->
                <div class="border-box col">
                    <div class="formInputFields">
                        {% if current_user.is_authenticated %}
                            <div class = "row">
                                <!--Field to collect users message -->
                                <p class="formFieldsLabels">Review(*)</p>
                                <input type="text" class="inputFields" name="message" required rows="5"><br><br>
                            </div>
                            <div class = "row">
                                <p class="formFieldsLabels">Rating(*)</p>
                                <div class="form-select-container">
                                    <select name="rating" id="role" class="form-select" aria-label=".form-select-md example">
                                        <option value="0">---Select A Rating---</option>
                                        <option name="one" id="one" value="1">1</option>
                                        <option name="two" id="two" value="2">2</option>
                                        <option name="three" id="three" value="3">3</option>
                                        <option name="four" id="four" value="4">4</option>
                                        <option name="five" id="five" value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        {% else %}
                        <div class = "row">
                            <div class="border-box col">
                                <div class="row" style="padding-right: 15px">
                                    <!--Field to collect users first name -->
                                    <p class="formFieldsLabels">First Name(*)<br></p>
                                    <input type="text" class="inputFields" name="first_name" required>
                                </div>
                            </div>
                            <div class="border-box col">
                                <div class="row" style="padding-left: 15px">
                                    <!--Field to collect users last name -->
                                    <p class="formFieldsLabels">Last Name(*)<br></p>
                                    <input type="text" class="inputFields" name="last_name" required><br><br>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <!--Field to collect users email -->
                            <p class="formFieldsLabels">Email(*)</p>
                            <input type="email" class="inputFields" name="email" required><br><br>
                        </div>

                        <div class = "row">
                            <!--Field to collect users message -->
                            <p class="formFieldsLabels">Review(*)</p>
                            <input type="text" class="inputFields" name="message" required><br><br>
                        </div>
                        <div class = "row">
                            <p class="formFieldsLabels">Rating(*)</p>
                            <div class="form-select-container">
                                <select name="rating" id="role" class="form-select" aria-label=".form-select-md example">
                                    <option value="0">---Select A Rating---</option>
                                    <option name="one" id="one" value="1">1</option>
                                    <option name="two" id="two" value="2">2</option>
                                    <option name="three" id="three" value="3">3</option>
                                    <option name="four" id="four" value="4">4</option>
                                    <option name="five" id="five" value="5">5</option>
                                </select>
                            </div>
                        </div>
                     {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class = "vertical-center">
                        <!--Field to submit the users answers inputted into the form -->
                        <input type="submit" value="Submit Review" class="checkoutButtons" style="float: right; margin: 20px; padding: 7px 75px 7px 75px;">
                    </div>
                </div>
            </div>
        </div>
                </form>
                </div>
                </div>
                </div>
    </div>

    <!-- adds spacing between bottom of all text content and footer -->
    <div class="GenProduct_HeadingSpacer"></div>

      <div class = "h1-Center">
        <!-- Heading text for entire webpage  -->
        <h1>Read Reviews</h1>
        <h4>Interested to see what others think? Read some of our reviews below!</h4>
    </div>
    <div class="GenProduct_HeadingSpacer"></div>

    <!-- Creation of table to show all posted reviews -->
{#    <div class="cartPlaceholder" style="position: relative; height: auto; min-height: 100%; padding-bottom: 7px;">#}
{#                <div class=”cartHeader”>#}
{#                    {% for each_review in reviews %}#}
{#                        <div class="cart-item">#}
{#                            <!-- display reviewers name -->#}
{#                            <div class="cart-item-details">#}
{#                                <div class="cart-item-title">#}
{#                                    <td>{{ each_review['first_name'] }}</td>#}
{#                                    <td>{{ each_review['last_name'] }}</td>#}
{#                                    <td>{{ each_review['email'] }}</td>#}
{#                                </div>#}
{#                            </div>#}
{#                             <!-- display reviewers written review -->#}
{#                            <div class="cart-item-details">#}
{#                                <div class="cart-item-title">#}
{#                                    <td>{{ each_review['message'] }}</td>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- display reviewers numeric score -->#}
{#                            <div class="cart-item-details">#}
{#                                <div class="cart-item-title">#}
{#                                    <td>{{ each_review['rating'] }}</td>#}
{#                                </div>#}
{#                            </div>#}
{#                            </div>#}
{#                     {% endfor %}#}
{#                </div>#}
{#            </div>#}
    <!-- adds spacing between bottom of all text content and footer -->
    <div class="GenProduct_HeadingSpacer"></div>

     {% for each_review in review %}
       {% if each_review['posted'] == 1 %}
           <td>{{ each_review['first_name'] }}</td>
           <td>{{ each_review['last_name'] }}</td>
           <td class="wrap"><pre>Review: {{ each_review['message'] }}</pre></td>
           <td><pre>Stars: {{ each_review['rating'] }}/5</pre></td>
           <br>
        {% endif %}
       </tr>
    {% endfor %}

{% endblock %}