{% extends "base.html" %}

{% block title %}Sales Tracker{% endblock %}

{% block html_head %}Sales Tracker{% endblock %}

{#{% block html_style %}#}
{#    tr {#}
{#        font-size: 15px;#}
{#    }#}
{#{% endblock %}#}

{% block page_content %}
<!-- Sales Input -->
{#<form class="row g-3 needs-validation" novalidate></form>#}
{#  <div class="col-md-4">#}
{#    <label for="validationItemID" class="form-label">Item ID</label>#}
{#    <input type="text" class="form-control" id="validationItemID" required>#}
{#    <div class="valid-feedback">#}
{#      Looks good!#}
{#    </div>#}
{#  </div>#}
{#  <div class="col-md-4">#}
{#    <label for="validationItemName" class="form-label">Item Name</label>#}
{#    <input type="text" class="form-control" id="validationItemName" required>#}
{#    <div class="invalid-feedback">#}
{#      Please enter a valid Item Name.#}
{#    </div>#}
{#  </div>#}
{#  <div class="col-md-3">#}
{#    <label for="validationPrice" class="form-label">Item Price</label>#}
{#    <input type="text" class="form-control" id="validationPrice" required>#}
{#    <div class="invalid-feedback">#}
{#      Please provide a valid price.#}
{#    </div>#}
{#  </div>#}
{#  <div class="col-md-3">#}
{#    <label for="validationQuantitySold" class="form-label">Quantity Sold</label>#}
{#    <input type="text" class="form-control" id="validationQuantitySold" required>#}
{#    <div class="invalid-feedback">#}
{#      Please provide a valid quantity.#}
{#    </div>#}
{#  </div>#}

<div class="text-center" style="height: 100vh">
<!-- Sales Management Table -->
    <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Item Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Quantity Sold</th>
        <th scope="col">Total Revenue</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Original Tee</td>
      <td>$28</td>
      <td>5</td>
      <td>$140</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>T-Shirt</td>
      <td>$28</td>
      <td>8</td>
      <td>$224</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Long Sleeve</td>
      <td>$36</td>
      <td>4</td>
      <td>$144</td>
    </tr>
  </tbody>
</table>

<!-- Total Sales Table -->
  <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Total Items Sold</th>
            <th scope="col">Total Revenue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">17</th>
            <th scope="row">$508</th>
        </tr>
    </tbody>
  </table>
</div>
{% endblock %}