{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block html_style %}
    button[class="input"] {
        text-size: 10px;
    }
{% endblock %}

{% block page_content %}
<!--Shop page-->
<div class="row">
    <div class="center-image">
        <!--Image for top of shop page-->
        <img src="../static/images/ShopPage_TopBanner.jpeg" width="100%" height="100%" alt="Around the Block Group Pic" class="responsive">
    </div>
</div>

<!--header-->
<div class="row" style="padding-left: 5px">
    <h1 class="Clothes for you!"><strong>Clothes for you!</strong></h1>
</div>

<!--filter buttons-->
<div class="row">
<div class="inline" style="10px">
<div class="dropdown">
    <button class="input">Price</button>
    <div class="dropdown-content">
        <a href="#">under $30</a>
        <a href="#">under $50</a>
        <a href="#">under $100</a>
    </div>
</div>

<div class="dropdown">
    <button class="input">Availability</button>
    <div class="dropdown-content">
        <a href="#">In Stock</a>
        <a href="#">Out of Stock</a>
    </div>
</div>

<div class="dropdown">
    <button class="input">Review</button>
    <div class="dropdown-content">
        <a href="#">High to Low</a>
    </div>
</div>

</div>
</div>

<br>

<!--products-->
<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/Shop_ClothingItem1.png" class="card-img-top" alt="ATB Crewneck">
                <div class="card-body">
                    <p class="card-text">Crewneck - $42.00</p>
                    <a href="/GenericProduct" class="btn btn-primary">View</a>
                </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/Shop_ClothingItem1.png" class="card-img-top" alt="ATB Quarter Zip">
                <div class="card-body">
                    <p class="card-text">Quarter Zip - $45.00</p>
                    <a href="/GenericProduct" class="btn btn-primary">View</a>
                </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/Shop_ClothingItem1.png" class="card-img-top" alt="ATB Long Sleeve">
                <div class="card-body">
                    <p class="card-text">Long Sleeve - $36.00</p>
                    <a href="/GenericProduct" class="btn btn-primary">View</a>
                </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/Shop_ClothingItem1.png" class="card-img-top" alt="ATB Original Tee">
                <div class="card-body">
                    <p class="card-text">Original Tee - $28.00</p>
                    <a href="/GenericProduct" class="btn btn-primary">View</a>
                </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/Shop_ClothingItem1.png" class="card-img-top" alt="ATB T-Shirt">
                <div class="card-body">
                    <p class="card-text">T-Shirt - $28.00</p>
                    <a href="/GenericProduct" class="btn btn-primary">View</a>
                </div>
        </div>
    </div>
<!-- mine
    <div class="col-3">
        <div class="card" style="width: 18rem;"></div>
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
            <h3 class="shopLabels">Crewneck</h3>
            <p class="shopLabels">$42.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart"/>
            </form>
        </div>
    </div>

    <div class="col-3">
    <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Long Sleeve" class="responsive">
        <h3>Long Sleeve</h3>
        <p>$36.00 USD</p>
        <form action="/cart" method="post" style="">
            <input type="submit" value="Add to Cart">
        </form>
    </div>

        <div class="col-3">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Quarter Zip" class="responsive">
            <h3>Quarter Zip</h3>
            <p>$45.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart">
            </form>
        </div>

        <div class="col-3">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Original Tee" class="responsive">
            <h3>Original Tee</h3>
            <p>$28.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart">
            </form>
        </div>

        <div class="col-3">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Y-shirt" class="responsive">
            <h3>T-Shirt</h3>
            <p>$28.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart">
            </form>
        </div>
-->

</div>


{% endblock %}


