{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block html_style %}
    button[class="input"] {
        text-size: 10px;
    }
{% endblock %}

{% block page_content %}
<!--Shop page-->
<div class="row">
    <div class="center-image">
        <!--Image for top of shop page-->
        <img src="../static/images/ShopPage_TopBanner.jpeg" width="100%" height="100%" alt="Around the Block Group Pic" class="responsive">
    </div>
</div>

<!--header-->
<div class="row" style="padding-left: 5px">
    <h1 class="Clothes for you!"><strong>Clothes for you!</strong></h1>
</div>

<!--filter buttons-->
<div class="row">
<div class="inline" style="10px">
<div class="dropdown">
    <button class="input">Price</button>
    <div class="dropdown-content">
        <a href="#">under $30</a>
        <a href="#">under $50</a>
        <a href="#">under $100</a>
    </div>
</div>

<div class="dropdown">
    <button class="input">Availability</button>
    <div class="dropdown-content">
        <a href="#">In Stock</a>
        <a href="#">Out of Stock</a>
    </div>
</div>

<div class="dropdown">
    <button class="input">Review</button>
    <div class="dropdown-content">
        <a href="#">High to Low</a>
    </div>
</div>

</div>
</div>

<br>

<!--products-->
<div class="row">
    <div class="col-3">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
            <h3 class="shopLabels">Crewneck</h3>
            <p class="shopLabels">$42.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart"/>
            </form>
    </div>

    <div class="col-3">
    <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
        <h3>Long Sleeve</h3>
        <p>$36.00 USD</p>
        <form action="/cart" method="post" style="">
            <input type="submit" value="Add to Cart">
        </form>
    </div>

        <div class="col-3">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
            <h3>Quarter Zip</h3>
            <p>$45.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart">
            </form>
        </div>

        <div class="col-3">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
            <h3>Original Tee</h3>
            <p>$28.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart">
            </form>
        </div>

        <div class="col-3">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
            <h3>T-Shirt</h3>
            <p>$28.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart">
            </form>
        </div>
</div>



<!--page numbers
    <div class="page-btn">
        <span>1</span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/static/images/Shop_ClothingItem1.png" width="230" height="230" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
            <h4>T-Shirt</h4>
            <p>$28.00 USD</p>
            <form action="/cart" method="post" style="">
                <input type="submit" value="Add to Cart">
            </form>
        </div>
    </div>
</div>
-->

<!--
<div class="inline">
    <div class="text-align: left">
        <img src="/static/images/Shop_ClothingItem1.png" width="225" height="225" style="padding-left: 25px" alt="ATB Crewneck" class="responsive">
        <img src="/static/images/Shop_ClothingItem1.png" width="225" height="225" style="padding-left: 25px" alt="Long Sleeve" class="responsive">
        <img src="/static/images/Shop_ClothingItem1.png" width="225" height="225" style="padding-left: 25px" alt="Quarter zip" class="responsive">
        <img src="/static/images/Shop_ClothingItem1.png" width="225" height="225" style="padding-left: 25px" alt="Original Tee" class="responsive">
        <img src="/static/images/Shop_ClothingItem1.png" width="225" height="225" style="padding-left: 25px" alt="T-shirt" class="responsive">

    </div>
</div>
-->
<!--Product names
<div class="inline">
    <div class="spacingHeader">
        <h6 class="text-align: left">Crewneck $42.00 USD</h6>
        <h6 class="text-align: left">Long Sleeve $36.00 USD</h6>
        <h6 class="text-align: left">Quarter Zip $45.00 USD</h6>
        <h6 class="text-align: left">Original Tee $28.00 USD</h6>
        <h6 class="text-align: left">T-Shirt $28.00 USD</h6>
</div>
-->
<!--Product prices-->


<!--Add to cart button
<div class="inline">
    <div class="row">
        <div class="spacingHeader">
            <form action="/cart" method="post" style="margin: 10px">
                <input type="submit" value="Add to Cart">
            </form>
        </div>
        <div class="spacingHeader">
         <form action="/cart" method="post" style="">
             <input type="submit" value="Add to Cart">
         </form>
        </div>
    </div>
</div>
-->
{% endblock %}


