{% extends "base.html" %}

<!-- create title block -->
{% block title %}Sign-Up{% endblock %}


{% block page_content %}

    <!-- background image -->
    <img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

    <!-- Thank user for signing up once form completed -->
    {% if form_submitted %}

    <div class="text-center" style="height: 100vh">
        <br>
        <h2>{'first_name'}, thank you for signing up!</h2>
        <!-- display home button for user to return to home page -->
        <p><br>Click to return home</p>
        <form action="/" method="get">
            <input type="submit" value="Home">
        </form>
    </div>

    <!-- if the form is not completed, display the form below -->
    {% else %}

 <!-- create form for user to sign up (all fields required) -->
<div class="text-center" style="height: 100vh">
    <br><h1>Sign-Up Here</h1>
    <form action="signup" method="post">
        <div class="border-box col">
        <!-- allow user to enter username -->
        <div class="row" >
            <input type="text" class = "signupInput" name="username" placeholder="Username" required>
        </div> <br>
        <!-- allow user to enter password -->
        <div class="row" >
            <input type="password" class = "signupInput" name="password" placeholder="Password" required>
        </div> <br>
        <!-- allow user to enter first name -->
        <div class="row" >
            <input type="text" class = "signupInput" name="first_name" placeholder="First Name">
        </div> <br>
        <!-- allow user to enter last name -->
        <div class="row" >
            <input type="text" class = "signupInput" name="last_name" placeholder="Last Name">
        </div> <br>
        <!-- allow user to enter email -->
        <div class="row" >
            <input type="email" class = "signupInput" name="email" placeholder="Email" required>
        </div> <br>
        <!-- allow user to submit form -->
        <div class="row">
            <input type="submit" value="Register" class="inventoryButtons">
        </div>
        </div>
    </form>
</div>

 {% endif %}

{% endblock %}