{% extends "base.html" %}

{% block title %}Sign-Up{% endblock %}


{% block html_style %}
    h1 {
        text-align: center;
    }
 body, html {
        background-image: url("../static/images/transparent-background.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
{% endblock %}


{% block page_content %}


    {% if form_submitted %}

    <div class="text-center">
    <br>
        <h2>Thank you for signing up!</h2>
    <br>
    <br>
    <br>
        <p>Click to return home</p>
        <form action="/" method="get">
            <input type="submit" value="Home">
        </form>
    </div>


    {% else %}

<h1>Sign-Up Here</h1>
<div class="text-center">
    <form action="signup" method="post">
        <label for ="username">Create Username:</label><br>
            <input type="text" id = "username" name="username" placeholder="Username"><br>
        <label for ="password">Create Password:</label><br>
            <input type="password" id = "password" name="password" placeholder="Password"><br>
        <label for ="FName">First Name:</label><br>
            <input type="First Name" id = "FName" name="First Name" placeholder="First Name"><br>
        <label for ="LName">Last Name:</label><br>
            <input type="Last Name" id = "LName" name="Last Name" placeholder="Last Name"><br>
        <label for ="email">Email:</label><br>
            <input type="email" id = "email" name="Last Name" placeholder="Email"><br>
        <br>
        <form action="/signup" method="post">
            <input type="submit" value="Register">
        </form>
    </form>
</div>

<!--#verify if username and password are correct using html
#redirect to home page-->

<!-- proper spacing for the background photo-->

 {% endif %}

{% endblock %}