{% extends "base.html" %}

{% block title %}Sign-Up{% endblock %}


{% block html_style %}
    h1, p {
        text-align: center;
    }

{% endblock %}


{% block page_content %}

    <!-- background image -->
<img src = "../static/images/transparent-background.png" alt="Background Image" class="bg-image">

    {% if form_submitted %}

    <div class="text-center" style="height: 100vh">
        <br>
        <h2>{'first_name'}, thank you for signing up!</h2>
        <p><br>Click to return home</p>
        <form action="/" method="get">
            <input type="submit" value="Home">
        </form>
    </div>


    {% else %}

<h1>Sign-Up Here</h1>
<div class="text-center">
    <form action="signup" method="post">
        <div class="row" >
            <input type="text" class = "signupInput" name="username" placeholder="Username" required>
        </div> <br>
        <div class="row" >
            <input type="password" class = "signupInput" name="password" placeholder="Password" required>
        </div> <br>
        <div class="row" >
            <input type="First Name" class = "signupInput" name="First Name" placeholder="First Name" required>
        </div> <br>
        <div class="row" >
            <input type="Last Name" class = "signupInput" name="Last Name" placeholder="Last Name" required>
        </div> <br>
        <div class="row" >
            <input type="email" class = "signupInput" name="Last Name" placeholder="Email" required>
        </div> <br>
        <form action="/signup" method="post">
            <input type="submit" value="Register">
        </form>
    </form>
    <br>
</div>

<!--#verify if username and password are correct using html
#redirect to home page-->

<!-- proper spacing for the background photo-->

 {% endif %}

{% endblock %}